<%= page_header %>

<% content_for :before_main_content do %>
  <%= generate_breadcrumbs(
    t('breadcrumb.date'),
    [
      [t('breadcrumb.home'), sections_path]
    ]
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= form_for @change_date, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: 'patch' do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_date_field :import_date,
        legend: { text: t('change_date.form.legend_text'), size: 'xl', tag: 'h1' },
        hint: { text: t('change_date.form.hint_text_html') } %>

      <div class="govuk-button-group">
        <%= f.govuk_submit('Update date') %>
        <%= link_to('Cancel', goods_nomenclature_path, class: 'govuk-link') %>
      </div>
    <% end %>
  </div>
</div>
