<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= render partial: 'shared/quota_definition', locals: { order_number: definition.order_number, quota_definition: definition } %>
  </td>
  <td class="govuk-table__cell">
    <% definition.measures&.map(&:goods_nomenclature_item_id).uniq.sort.each do |goods_nomenclature_item_id| %>
      <%= link_to goods_nomenclature_item_id, commodity_path(goods_nomenclature_item_id) %>
      <br>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <% definition.geographical_areas.uniq(&:id).select { |geographical_area| geographical_area.id.present? }.each do |geographical_area| %>
      <%= geographical_area&.long_description %>
      <br>
    <% end %>
  </td>
  <td class="govuk-table__cell"><%= definition.validity_start_date&.strftime('%d %B %Y') %></td>
  <td class="govuk-table__cell"><%= definition.validity_end_date&.strftime('%d %B %Y') %></td>
  <td class="govuk-table__cell numerical"><%= definition.balance %> <%= definition.measurement_unit %></td>
</tr>
