<%= form_with model: search_form,
              url: quota_search_path,
              method: :get,
              scope: nil,
              local: true,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder,
              class: "tariff-search quota-search #{@section_css}",
              id: 'new_search' do |f| %>
  <%= page_header t('quota_search.form.page_header') %>
  <%= f.govuk_error_summary if search_form.errors.any? %>

  <div class="govuk-form-group govuk-!-margin-top-6">
    <div class="govuk-inset-text govuk-grid-column-one-half govuk-!-margin-top-0 govuk-!-margin-bottom-0">
      <%= t('quota_search.form.inset_text') %>
    </div>
  </div>
  <%= f.govuk_text_field :order_number,
                         width: 'one-quarter',
                         id: 'order_number',
                         name: 'order_number',
                         maxlength: 6,
                         label: { text: t('quota_search.form.order_number_label'), for: 'order_number' },
                         form_group: { class: 'govuk-!-margin-top-6' } %>

  <%= f.govuk_text_field :goods_nomenclature_item_id,
                         width: 'one-quarter',
                         id: 'goods_nomenclature_item_id',
                         name: 'goods_nomenclature_item_id',
                         maxlength: 10,
                         label: { text: t('quota_search.form.goods_nomenclature_item_id_label'), for: 'goods_nomenclature_item_id' },
                         form_group: { class: 'govuk-!-margin-top-6' } %>

  <div class="js-quota-country-picker">
    <%= f.govuk_collection_select :geographical_area_id,
                                  search_form.geographical_areas,
                                  :id,
                                  :long_description,
                                  options: { include_blank: t('quota_search.form.geographical_area_id_blank') },
                                  label: { text: t('quota_search.form.geographical_area_id_label'), for: 'geographical_area_id' },
                                  form_group: { class: 'govuk-!-margin-top-6' },
                                  id: 'geographical_area_id',
                                  name: 'geographical_area_id',
                                  class: 'js-quota-country-picker-select custom-select' %>
    <div class="govuk-!-margin-top-3">
      <a class="reset-country-picker" href="#reset-country-picker" title="<%= t('quota_search.form.reset_country_picker_title') %>" rel="nofollow"><%= t('quota_search.form.reset_country_picker') %><span class="long-text">&nbsp;<%= t('quota_search.form.reset_country_picker_suffix') %></span></a>
    </div>
  </div>
  <%= f.govuk_date_field :as_of,
                         legend: { text: t('quota_search.form.date_legend'), size: 's' },
                         hint: { text: t('quota_search.form.date_hint') },
                         form_group: { class: 'govuk-!-margin-top-6' },
                         maxlength_enabled: true %>
  <%= f.govuk_select :critical,
                     QuotaSearchForm::CRITICAL_VALUES,
                     options: { include_blank: true },
                     label: { text: t('quota_search.form.critical_label'), for: 'critical' },
                     form_group: { class: 'govuk-!-margin-top-6' },
                     id: 'critical',
                     name: 'critical',
                     class: 'custom-select' %>

  <%= f.govuk_select :status,
                     QuotaSearchForm::STATUS_VALUES,
                     options: { include_blank: true },
                     label: { text: t('quota_search.form.status_label'), for: 'status' },
                     form_group: { class: 'govuk-!-margin-top-6' },
                     id: 'status',
                     name: 'status',
                     class: 'custom-select' %>

  <%= f.govuk_submit t('quota_search.form.submit'),
                     name: 'new_search',
                     value: t('quota_search.form.submit'),
                     class: 'govuk-!-margin-top-6' %>
<% end %>
