<div class="desktop-only">
  <ul>
    <li class="section-li">
      <%= link_to "Section #{chapter.section.numeral}: #{chapter.section}",
                  section_path(chapter.section, request.query_parameters.symbolize_keys),
                  class: %w[full-width] %>
      <ul>
        <li class="chapter-li">
          <%= tree_chapter_code(chapter) %>
          <%= tag.p chapter, class: 'line-text' %>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="mobile-only">
  <ul>
    <li class="section-li">
      <%= link_to "Section #{chapter.section.numeral}: #{chapter.section}",
                  section_path(chapter.section, request.query_parameters.symbolize_keys),
                  class: %w[full-width] %>
      <ul>
        <li class="chapter-li">
          <%= tree_chapter_code(chapter) %>
          <%= tag.p chapter, class: 'line-text' %>
        </li>
      </ul>
    </li>
  </ul>
</div>
