<div class="desktop-only">
  <ul>
    <li class="section-li">
      <%= link_to "Section #{heading.section.numeral}: #{heading.section}",
                  section_path(heading.section, request.query_parameters.symbolize_keys),
                  class: %w[full-width] %>
      <ul>
        <li class="chapter-li">
          <%= tree_chapter_code(heading.chapter) %>
          <%= link_to heading.chapter, chapter_path(heading.chapter, request.query_parameters.symbolize_keys) %>
          <ul>
            <li class="heading-li">
              <%= tree_heading_code(heading) %>
              <%= tag.p heading.to_s.html_safe, class: 'line-text' %>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="mobile-only">
  <ul>
    <li class="section-li">
      <%= link_to "Section #{heading.section.numeral}: #{heading.section}",
                  section_path(heading.section, request.query_parameters.symbolize_keys),
                  class: %w[full-width] %>
      <ul class="js-full-tree">
        <li class="chapter-li">
          <%= tree_chapter_code(heading.chapter) %>
          <%= link_to heading.chapter, chapter_path(heading.chapter, request.query_parameters.symbolize_keys) %>
          <ul>
            <li class="heading-li">
              <%= tree_heading_code(heading) %>
              <%= tag.p heading.formatted_description.html_safe, class: 'line-text' %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="mobile-only js-summary-tree">
        <li>
          <a href="#" class="show-full-tree-link js-show-full-tree-link">[Show all]</a>
          <ul>
            <li class="chapter-and-heading-li">
              <%= tree_heading_code(heading) %>
              <%= tag.p heading.formatted_description.html_safe, class: 'line-text' %>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
