<p class="govuk-body">Your search term appears in the following parts of the tariff:</p>

<% if @search_result.intercept_message %>
  <div id="intercept-message" class="govuk-inset-text">
    <%= @search_result.intercept_message.html_message %>
  </div>
<% end %>

<div class=search-results>
  <% @search_result.chapter_statistics.each do |chapter_statistic| %>
    <dl class="govuk-summary-list search-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key list-key-chapter">
          <div class="chapter-chapter-code">
            <%= chapter_statistic.resource_id %>
          </div>
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>
            <%= chapter_statistic.description&.humanize&.html_safe %>
          </strong>
        </dd>
      </div>
    </dl>

    <% @search_result.heading_statistics.by_chapter(chapter_statistic.resource_id).each do |heading_statistic| %>
      <div class="chapter-results">
        <dl class="govuk-summary-list search-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key list-key-heading">
              <div class="chapter-heading-code">
                <%= heading_statistic.resource_id %>
              </div>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= filtered_link_for(heading_statistic) %>
            </dd>
          </div>
        </dl>
      </div>
    <% end %>
  <% end %>
 </div>
