<p class="govuk-body">The following commodity codes match your search:</p>

<% if @search_result.intercept_message %>
  <div id="intercept-message" class="govuk-inset-text">
    <%= @search_result.intercept_message.html_message %>
  </div>
<% end %>

<table class="govuk-table">
  <tbody>
    <% @search_result.hits.commodities.each do |hit| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" width="70">
          <div class="full-heading-code">
            <%= segmented_commodity_code hit.code.to_s, coloured: true %>
          </div>
        </td>
        <td class="govuk-table__cell">
          <%= link_to polymorphic_path(hit) do %>
            <%= hit.description&.html_safe %>
          <% end %>

          <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <% ancestor_links(hit, css_class: 'breadcrumbs__link tariff-ancestors-breadcrumbs__link').each do |link| %>
                <li class="govuk-breadcrumbs__list-item ">
                  <%= link %>
                </li>
              <% end %>
            </ol>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
