<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
    t('breadcrumb.search_results'),
    [
      [t('breadcrumb.home'), home_path]
    ]
  ) %>
<% end %>

<%= page_header "Search results for
                &lsquo;#{h @search_result.corrected_search_query}&rsquo;".html_safe
%>

<section id="beta-search-results-<%= @search_result.resource_id %>">
  <% if @search_result.spelling_corrected? %>
    <div id="search-results-spelling">
      <p class="corrected-search-results">
        Showing results for &lsquo;<%= @search_result.corrected_search_query %>&rsquo;.
        <span class="non-corrected-search-results govuk-!-margin-top-1">
          Search instead for &lsquo;<%= uncorrected_search_link_for(@search_result.original_search_query) %>&rsquo;.
        </span>
      </p>
    </div>
  <% end %>
  <% if @search_result.hits.commodities.present? %>
    <%= render 'beta/search_results/with_hits' %>
  <% else %>
    <%= render 'beta/search_results/no_hits' %>
  <% end %>
</section>
