<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
    t('breadcrumb.search_results'),
    [
      [t('breadcrumb.home'), home_path]
    ]
  ) %>
<% end %>

<%= page_header "Search results for
                &lsquo;#{h @search_result.search_query_parser_result.corrected_search_query}&rsquo;".html_safe
%>

<section id="beta-search-results-<%= @search_result.resource_id %>">
  <% if @search_result.hits.commodities.present? %>
    <%= render 'with_hits' %>
  <% else %>
    <%= render 'no_hits' %>
  <% end %>
</section>
