<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.az'),
      [
        [t('breadcrumb.home'), home_path],
      ]
    )
  %>
<% end %>

<section class="a-z">
  <%= page_header 'A&ndash;Z of Classified Goods'.html_safe %>

  <div class="inner">
    <ol class="index govuk-list govuk-!-margin-bottom-8">
      <%= a_z_index(letter) %>
    </ol>

    <%= govuk_table do |table| %>
      <% table.with_caption do %>
        <%= govuk_visually_hidden 'Classified Goods starting with letter ' %><%= letter.upcase %>
      <% end %>
      <% table.with_body do |body| %>
        <% @search_references.each do |search_reference| %>
          <% body.with_row do |row| %>
            <% row.with_cell(text: govuk_link_to(search_reference, search_reference.link, visually_hidden_suffix: "(code: #{search_reference.referenced_id})")) %>
            <% row.with_cell do %>
              <%= govuk_visually_hidden 'Class: ' %><%= search_reference.referenced_class %>
            <% end %>
            <% row.with_cell(numeric: true) do %>
              <%= govuk_visually_hidden 'Code: ' %>
              <% if search_reference.referenced_class == "Commodity" %>
                <%= segmented_commodity_code search_reference.referenced_id %>
              <% else %>
                <%= segmented_commodity_code abbreviate_code(search_reference.referenced_id) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
