<% if @goods_nomenclature.applicable_category_assessments.any? %>
  <h2>Applicable Category Assessments</h2>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <% @goods_nomenclature.applicable_category_assessments.each do |ca| %>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Category</dt>
              <dd class="govuk-summary-list__value">
                <%= ca.category %>
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Theme</dt>
              <dd class="govuk-summary-list__value">
                <%= ca.theme %>
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
          </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <h3 class="govuk-heading-s">Geographical Area</h3>
          <p class="govuk-body"><%= ca.geographical_area %></p>
          <% if ca.excluded_geographical_areas.any? %>
            <h3 class="govuk-heading-s">Excluded Geographical Area</h3>
            <% ca.excluded_geographical_areas.each do |ga| %>
              <p class="govuk-body"><%= ga.geographical_area %></p>
            <% end %>
          <% end %>
          <% if ca.exemptions.any? %>
            <% ca.exemptions.each do |ex| %>
              <h3 class="govuk-heading-s"><%= ex.class.model_name.human %></h3>
              <p class="govuk-body"><%= ex.code %></p>
              <p class="govuk-body"><%= ex.description %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>There are no Applicable Category Assessments</h2>
<% end %>
