<%= render 'search_form', search_form: @category_assessments_search %>

<%= page_header "Search results for #{@category_assessments_search.commodity_code}" %>

<article class="search-results govuk-!-padding-top-1">
  <% if @goods_nomenclature.present? %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goods Nomenclature Item Id
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @goods_nomenclature.goods_nomenclature_item_id %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @goods_nomenclature.formatted_description %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <%= render 'green_lanes/category_assessments/categories',
               assessments: @goods_nomenclature.primary_assessments_group %>
  <% end %>
</article>
