<%= page_header "Search results for &lsquo;#{h @category_assessments_search.commodity_code}&rsquo;".html_safe %>
<article class="search-results govuk-!-padding-top-1">
  <% if @goods_nomenclature.present? %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Item Id
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @goods_nomenclature.goods_nomenclature_item_id %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @goods_nomenclature.formatted_description %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <% if @goods_nomenclature.validity_start_date.present? && @goods_nomenclature.validity_end_date.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Commodity valid between</dt>
          <dd class="govuk-summary-list__value">
            <%= @goods_nomenclature.validity_start_date %> and <%= @goods_nomenclature.validity_end_date %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% elsif @goods_nomenclature.validity_start_date.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Commodity valid from</dt>
          <dd class="govuk-summary-list__value">
            <%= @goods_nomenclature.validity_start_date %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>
    </dl>

    <%= render 'green_lanes/category_assessments/category' %>

  <% end %>
</article>
