<%= form_for @category_assessments_search, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :post, url: green_lanes_category_assessments_path do |f| %>
  <div class="searchfield govuk-form-group">
    <%= f.govuk_error_summary %>
    <fieldset class="govuk-fieldset govuk-search-input" aria-describedby="q-hint">
      <%= f.govuk_text_field :commodity_code, width: 'one-quarter',
                             label: { text: 'Commodity Code'} %>

      <div class="country-picker-container">
        <%= f.hidden_field :render_errors, value: false %>
        <%= f.hidden_field :anchor, value: nil %>
        <%= f.label :country, 'Select Country', class: 'govuk-label' %>
        <%= f.select :country, GeographicalArea.country_options, { include_blank: 'All countries' }, class: 'custom-select', "aria-label": "Filter measures by country" %>
      </div>
      <div class="govuk-form-group govuk-!-margin-top-6"></div>
      <div class="govuk-fieldset search-submit">
        <%= f.govuk_submit("Search") %>
      </div>
    </fieldset>
  </div>
<% end %>
