<% if assessments.flat_map(&:exemptions).any? %>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title"><%= title %></h2>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" href="<%= edit_path %>"></a>
      </div>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <% unique_exemptions(assessments).each do |exemption, category_assessment| %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><%= exemption.code %></dt>
            <dd class="govuk-summary-list__value"><%= exemption.formatted_description %></dd>
            <dd class="govuk-summary-list__actions">
              <%= exemption_status(exemption, category, category_assessment) %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
