<%= rules_of_origin_form_for(current_step) do |form| %>
  <span class="govuk-caption-xl">
    <%= t '.caption' %>
  </span>

  <h1 class="govuk-heading-l">
    <%= t '.title' %>
  </h1>

  <div class="tariff-markdown tariff-markdown--with-lead-paragraph">
    <%= govspeak t '.body_md' %>
  </div>
  
  <div class="govuk-inset-text">
    <%= t '.agreement_message' %>
  </div>

  <h2 class="govuk-heading-xs"><%= t '.navigation.contents' %></h2>
  <nav class="govuk-!-margin-bottom-9">
    <ul class="rules-of-origin-app-contents xgovuk-!-margin-bottom-0">
      <li class="govuk-!-margin-bottom-2">
        <a href="#methods"><%= t '.navigation.methods' %></a>
      </li>        
      <li class="govuk-!-margin-bottom-2">
        <a href="#map"><%= t '.navigation.cumulation_map' %></a>
      </li>        
      <li class="govuk-!-margin-bottom-2">
        <a href="#agreement_text"><%= t '.navigation.agreement_text' %></a>
      </li>
    </ul>
  </nav>

  <h2 class="govuk-heading-m" id="methods"><%= t '.cumulation.methods_title', scheme_title: form.object.scheme_title %></h2>

  <p><%= t '.cumulation.methods_count', scheme_title: form.object.scheme_title, cumulation_methods_count: form.object.available_cumulation_methods.count %>:</p>

  <% form.object.available_cumulation_methods.each do |cumulation_method| %>
    <%= render "rules_of_origin/cumulation_methods/#{cumulation_method}", countries: form.object.country_codes_to_names(cumulation_method).to_sentence, 
                                                                          scheme_title: form.object.scheme_title,
                                                                          cumulation_method: cumulation_method %>
  <% end %>

  <h3 class="govuk-heading-m" id="map"><%= t '.cumulation.map', scheme_title: form.object.scheme_title %></h3>

  <p><%= t '.agreement_text' %></p>

  <%= image_tag(asset_path(form.object.map_path)) %>

  <p><%= link_to "View cumulation map in a new browser window", asset_path(form.object.map_path), target: "_blank" %></p>

  <h2 class="govuk-heading-s" id="agreement_text"><%= t '.agreement_title' %></h2>

  <%= govspeak remove_article_reference(form.object.scheme_details) %>
  <%= render 'shared/origin_reference_document', origin_reference_document: form.object.origin_reference_document,
                                                 article_match: find_article_reference(form.object.scheme_details) if find_article_reference(form.object.scheme_details) %>


  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"><%= t 'generic.warning' %></span>
      <%= t '.cumulation.warning' %>
    </strong>
  </div>

  <h3 class="govuk-heading-s">
    <%= t 'rules_of_origin.steps.common.next_step' %>
  </h3>

  <div class="tariff-markdown" id="next-step">
    <%= govspeak t '.next_step_md', scheme_title: form.object.scheme_title %>
  </div>
<% end %>
