<%= rules_of_origin_form_for(current_step) do |form| %>
  <span class="govuk-caption-xl">
    <%= t '.caption' %>
  </span>

  <h1 class="govuk-heading-l">
    <%= t '.title' %>
  </h1>

  <div class="tariff-markdown tariff-markdown--with-lead-paragraph">
    <%= govspeak t '.body_md' %>
  </div>

  <h3 class="govuk-heading-s">
    <%= t '.cumulation.title', scheme_title: form.object.scheme_title %>
  </h3>

  <p><%= t '.cumulation.map', scheme_title: form.object.scheme_title %></p>

  <%= image_tag(asset_path(form.object.map_path)) %>

  <p><%= link_to "View cumulation map in a new browser window", asset_path(form.object.map_path), target: "_blank" %></p>

  <div class="govuk-inset-text">
    <%= t '.cumulation.inset', scheme_title: form.object.scheme_title %>
  </div>

  <div class="tariff-markdown">
    <%= govspeak t '.cumulation.body_md' %>

    <figure>
      <%= image_pack_tag 'roo_wizard/bilateral.png' %>
      <figcaption>
        <%= t '.cumulation.image_caption' %>
      </figcaption>
    </figure>
  </div>

  <%= render 'shared/details', summary: t('.scheme.summary',
                                          scheme_title: form.object.scheme_title),
                               content: govspeak(form.object.scheme_details),
                               origin_reference_document: form.object.origin_reference_document %>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"><%= t 'generic.warning' %></span>
      <%= t '.cumulation.warning' %>
    </strong>
  </div>

  <h3 class="govuk-heading-s">
    <%= t 'rules_of_origin.steps.common.next_step' %>
  </h3>

  <div class="tariff-markdown" id="next-step">
    <%= govspeak t '.next_step_md', scheme_title: form.object.scheme_title %>
  </div>
<% end %>
