<%= rules_of_origin_form_for(current_step) do |form| %>
  <span class="govuk-caption-xl">
    <%= t '.caption' %>
  </span>

  <h1 class="govuk-heading-l">
    <%= t '.title' %>
  </h1>

  <p class="govuk-body-l">
    <%= t '.lead_para', trade_country_name: 'UK' %>
  </p>

  <h3 class="govuk-heading-s">
    <%= t '.psr.title' %>
  </h3>

  <div class="tariff-markdown">
    <%= govspeak t('.psr.body_md', trade_country_name: 'UK') %>

    <%= render 'shared/details', summary: t('.psr.details.summary'),
                                 content: govspeak(t('.psr.details.content_md')) %>
  </div>

  <h3 class="govuk-heading-s">
    <%= t '.operations_requirements.title' %>
  </h3>

  <div class="tariff-markdown">
    <%= govspeak t('.operations_requirements.body_md',
                   scheme_title: form.object.scheme_title) %>
  </div>

  <h3 class="govuk-heading-s">
    <%= t '.parts.title' %>
  </h3>

  <div class="tariff-markdown">
    <%= govspeak t('.parts.body_md', scheme_title: form.object.scheme_title) %>
  </div>

  <h3 class="govuk-heading-s">
    <%= t 'rules_of_origin.steps.common.next_step' %>
  </h3>

  <div class="tariff-markdown">
    <%= govspeak t '.next_step_md', scheme_title: form.object.scheme_title %>
  </div>
<% end %>
