<span class="govuk-caption-xl">
  <%= t "rules_of_origin.shared.caption.#{current_step.trade_direction}ing",
        commodity_code: current_step.commodity_code,
        service_country_name: current_step.service_country_name,
        trade_country_name: current_step.trade_country_name %>
</span>

<h1 class="govuk-heading-l">
  <%= t '.title' %>
</h1>

<div class="rules-of-origin-met-message">
  <p><%= t '.panel', scheme_title: current_step.scheme_title %></p>
</div>

<h3 class="govuk-heading-s">
  <%= t '.next_steps' %>
</h3>

<p>
  <%= t '.body_html', scheme_title: current_step.scheme_title %>
</p>

<ul class="govuk-list" id="next-steps">
  <li>
    <%= link_to t('.links.proofs'), step_path(:proofs_of_origin) %>
  </li>
  <li>
    <%= link_to t('.links.requirements'), step_path(:proof_requirements) %>
  </li>
  <li>
    <%= link_to t('.links.verification'), step_path(:proof_verification) %>
  </li>

  <% if current_step.duty_drawback_available? %>
    <li>
      <%= link_to t('.links.duty_drawback'), step_path(:duty_drawback) %>
    </li>
  <% end %>

  <% if current_step.non_alteration_available? %>
    <li>
      <%= link_to t('.links.non_alteration'), step_path(:non_alteration_rule) %>
    </li>
  <% end %>

  <% if current_step.direct_transport_available? %>
    <li>
      <%= link_to t('.links.direct_transport'), step_path(:direct_transport_rule) %>
    </li>
  <% end %>
<ul>
