<span class="govuk-caption-xl">
  <%= t '.caption' %>
</span>

<h1 class="govuk-heading-l">
  <%= t '.title', trade_country_name: current_step.trade_country_name %>
</h1>

<p>
  <%= t '.body', scheme_title: current_step.scheme_title %>
</p>

<aside role="complementary" id="article-section-list">
  <%= contents_list current_step.processes_contents_list,
                    aria: { label: t('.article_list') } do |section|
        step_path(:proof_requirements, section: )
      end %>
</aside>

<div class="tariff-markdown numbered-then-lettered-list" id="article-section">
  <%= govspeak current_step.processes_section(params[:section]) %>
</div>

<%= link_to t('navigation.back_to_top'), '#content' %>
