<span class="govuk-caption-xl">
  <%= t "rules_of_origin.shared.caption.#{current_step.trade_direction}ing",
        commodity_code: current_step.commodity_code,
        service_country_name: current_step.service_country_name,
        trade_country_name: current_step.trade_country_name %>
</span>

<h1 class="govuk-heading-l">
  <%= t '.title' %>
</h1>

<p>
  <%= t '.body' %>
</p>

<div id="proofs-overview">
  <h3 class="govuks-heading-s">
    <%= t '.overview.subtitle' %>
  </h3>

  <p>
    <%= t '.overview.body', count: current_step.proofs.length %>
  </p>

  <div class="stacked-govuk-details tariff-markdown">
    <% current_step.proofs.each do |proof| %>
      <%= render 'shared/details', summary: proof.summary,
                                   content: govspeak(proof.content),
                                   origin_reference_document: current_step.origin_reference_document \
          if proof.content.present? %>
    <% end %>
  </div>
</div>

<h3 class="govuk-heading-s">
  <%= t 'rules_of_origin.steps.common.next_step' %>
</h3>

<ul class="govuk-list" id="next-steps">
  <li>
    <%= link_to t('.links.requirements'), step_path(:proof_requirements) %>
  </li>

  <li>
    <%= link_to t('.links.verification'), step_path(:proof_verification) %>
  </li>

  <% if current_step.duty_drawback_available? %>
    <li>
      <%= link_to t('.links.duty_drawback'), step_path(:duty_drawback) %>
    </li>
  <% end %>
<ul>
