<%= rules_of_origin_form_for(current_step) do |form| %>
  <%= form.govuk_collection_radio_buttons \
        :rule,
        form.object.options,
        :resource_id,
        ->(option) { govspeak option.rule } %>

  <div class="tariff-markdown">
    <%= govspeak t '.body', scheme_title: form.object.scheme_title %>

    <%= render 'shared/details', summary: t('.notes'),
                                 content: govspeak(form.object.chosen_scheme.introductory_notes),
                                 origin_reference_document: nil %>
  </div>
<% end %>

<%= render 'about_commodity', commodity_code: current_step.commodity_code,
                              description: current_step.declarable_description %>
