<% myott_page_title "Manage subscription" %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.stop_press'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path]
      ]
    )
  %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Manage your subscription</h1>

    <h2 class="govuk-heading-m"><%= @selected_chapters_heading %></h2>

    <p class="govuk-body">You can edit your chapter preference at any time.</p>

    <%= render 'details_selected_sections_chapters', selected_sections_chapters: @selected_sections_chapters %>

    <p class="govuk-body"><%= link_to 'Edit your chapter preferences', edit_myott_stop_press_preferences_path, class: 'govuk-link--no-visited-state' %></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Unsubscribe</h2>
    <p class="govuk-body"><%= link_to 'Unsubscribe from all updates', myott_unsubscribe_path(@current_subscription.resource_id) %></p>
  </div>
</div>
