<div class="govuk-fieldset" id='autocomplete'>
  <% input_id = local_assigns.fetch(:input_id, 'q') %>
  <% input_name = local_assigns.fetch(:input_name, 'q') %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', function() {
      try {
        let tempQuery = '';
        window.GOVUK.accessibleAutocomplete({
          element: document.querySelector('#autocomplete'),
          id: '<%= input_id %>',
          name: '<%= input_name %>',
          required: 'true',
          className: 'govuk-input',
          placeholder: 'Enter the name of the goods or commodity code',
          confirmOnBlur: false,
          autoselect: true,
          minLength: 2,
          tNoResults: () => 'Searching...',
          templates: {
            inputValue: function(result) {
              return result;
            },
            suggestion: function(result) {
              return result.replace(tempQuery, '<strong>$&</strong>');
            },
          },
          source: window.GOVUK.debounce((query, populateResults) => {
            tempQuery = query;
            const searchSuggestionsPath = document.querySelector('.path_info').dataset.searchSuggestionsPath;
            window.GOVUK.Utility.fetchCommoditySearchSuggestions(query, searchSuggestionsPath, [], populateResults);
          }, 200, false),
          onConfirm: (suggestion) => {
            if (suggestion) {
              document.querySelector('#<%= input_id %>').value = suggestion
              document.querySelector("#new_search").submit()
            }
          }
        });

        window.addEventListener('pageshow', (event) => {
          event.persisted ? document.querySelector('#autocomplete input').value = '' : () => {}
        });
      } catch(e) {
        var node = document.getElementById('autocomplete');
        node.innerHTML = '<div class="autocomplete__wrapper"><input autocomplete="off" class="autocomplete__input autocomplete__input--default" id="<%= input_id %>" name="<%= input_name %>" placeholder="Enter the name of the goods or commodity code" type="text" role="combobox" required=""></div>'
      }
    })
  <% end %>

  <noscript>
    <div class="autocomplete__wrapper">
      <input autocomplete="off" class="autocomplete__input autocomplete__input--default" id="<%= input_id %>" name="<%= input_name %>" placeholder="Enter the name of the goods or commodity code" type="text" role="combobox" required="">
    </div>
  </noscript>
</div>
