<%= form_tag perform_search_path, method: :post, id: "new_search",
    data: { controller: "guided-search-validation",
            action: "submit->guided-search-validation#validateAndSubmit" } do %>

<div data-guided-search-validation-target="formContent">

<% if @search.errors.any? %>
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @search.errors.each do |error| %>
          <li><a href="#guided_q"><%= error.message %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<% if @search.day_month_and_year_set? %>
<%= hidden_field_tag :year, @search.year %>
<%= hidden_field_tag :month, @search.month %>
<%= hidden_field_tag :day, @search.day %>
<% end %>

<div data-controller="interactive-search-radio"
     data-interactive-search-radio-v2-suggestions-path-value="<%= search_suggestions_path(format: :json) %>"
     data-interactive-search-radio-interactive-suggestions-path-value="<%= interactive_search_suggestions_path(format: :json) %>">

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">What type of search are you doing?</h2>
    </legend>

    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="search_type_guided" type="radio"
               name="search_type" value="guided"
               aria-controls="conditional-guided"
               data-interactive-search-radio-target="toggle"
               data-action="interactive-search-radio#toggle">
        <label class="govuk-label govuk-radios__label" for="search_type_guided">
          Guided search
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-guided" hidden data-interactive-search-radio-target="guidedSection">
        <details class="govuk-details govuk-!-margin-bottom-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Tips for using guided search</span>
          </summary>
          <div class="govuk-details__text">
            <p>Guided search asks you questions about your product to narrow down the commodity code.</p>
            <p>Answer each question as specifically as you can. If you are unsure, select "I don't know" and the system will show you the best results based on what you have provided.</p>
          </div>
        </details>

        <div class="govuk-form-group<%= ' govuk-form-group--error' if @search.errors.any? %>"
             data-guided-search-validation-target="formGroup">
          <label class="govuk-label" for="guided_q">
            Describe the products you are trading
          </label>
          <div class="govuk-hint" id="guided-q-hint">
            For example, 55" 4K Ultra HD OLED Smart TV
          </div>
          <% if @search.errors.any? %>
            <p class="govuk-error-message" id="guided-q-error">
              <span class="govuk-visually-hidden">Error:</span> <%= @search.errors.map(&:message).join('. ') %>
            </p>
          <% end %>
          <textarea class="govuk-textarea<%= ' govuk-textarea--error' if @search.errors.any? %>" id="guided_q" name="q" rows="5"
                    aria-describedby="guided-q-hint<%= ' guided-q-error' if @search.errors.any? %>"
                    data-interactive-search-radio-target="guidedInput"
                    data-guided-search-validation-target="textarea"><%= @search.q %></textarea>
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="search_type_keyword" type="radio"
               name="search_type" value="keyword"
               aria-controls="conditional-keyword"
               data-interactive-search-radio-target="toggle"
               data-action="interactive-search-radio#toggle">
        <label class="govuk-label govuk-radios__label" for="search_type_keyword">
          Keyword or commodity code search
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-keyword" hidden data-interactive-search-radio-target="keywordSection">
        <details class="govuk-details govuk-!-margin-bottom-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Tips for using keyword or commodity code search</span>
          </summary>
          <div class="govuk-details__text">
            <p>To find a commodity code, you must specify what the item is. If the item is a gift, you must still specify the product.</p>
            <p>Do not use brand names. It is best to use general terms like trainers or sports footwear instead of 'Nike trainers'.</p>
            <p>Expect technical language. Commodity code descriptions can be quite formal. For example, a laptop might be described as a "Portable automatic data-processing machines, weighing not more than 10 kg, consisting of at least a central processing unit, a keyboard and a display."</p>
            <p>Use plain English and avoid using foreign words or special characters. The search is also unable to pick up on any spelling mistakes.</p>
            <p>Make sure you're using the correct country's classification. Commodity codes can vary between countries. Make sure you're using the right code for the country you're importing to or from.</p>
            <p>If you are struggling to understand the duty you may need to pay then this guidance may help you: <%= link_to "Tax and customs for goods sent from abroad: Tax and duty - GOV.UK", "https://www.gov.uk/goods-sent-from-abroad/tax-and-duty" %></p>

            <h3 class="govuk-heading-s">Steps for searching the tariff</h3>
            <ol class="special-numbered-list govuk-!-margin-bottom-0">
              <li>Be specific about the product you are looking for. It's often not enough to describe a product as 'clothing' or 'electronics'. You must specify what the product is, for example, 'cotton shirt', 'car tyres', or 'laptop'.</li>
              <li>For raw materials and manufactured products, it can be useful to search for products by the material or what they are made from. For example, steel, wood, stone or glass.</li>
              <li>The search tool will suggest a number of sections. Select the section which best describes the product you are importing or exporting.</li>
              <li>You will be shown the relevant commodities based on your section. Choose the one which most closely matches your product.</li>
            </ol>
          </div>
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label" for="q">
            Enter the name of the products or commodity code
          </label>
          <div class="govuk-hint" id="keyword-q-hint">
            For example, tomatoes or 1234 5678 90
          </div>
          <%= render 'shared/search/autocomplete' %>
        </div>
      </div>
    </div>
  </fieldset>

  <input type="hidden" name="interactive_search" value="false"
         data-interactive-search-radio-target="hiddenField"
         data-guided-search-validation-target="hiddenField">
</div>

<%= render 'shared/search/interactive_datepicker' %>

<div class="govuk-!-margin-top-6">
  <%= submit_tag 'Search for a commodity', class: 'govuk-button' %>
</div>

</div>

<div data-guided-search-validation-target="thinking" class="govuk-!-display-none">
  <p class="govuk-body-l">Collecting information...</p>
</div>
<% end %>
