<%= form_tag perform_search_path, method: :get, id: "new_search" do |f| %>

<% if @search.day_month_and_year_set? %>
<%= hidden_field_tag :year, @search.year %>
<%= hidden_field_tag :month, @search.month %>
<%= hidden_field_tag :day, @search.day %>
<% end %>

<% if TradeTariffFrontend.internal_search_enabled? %>
<div data-controller="internal-search"
     data-internal-search-v2-suggestions-path-value="<%= search_suggestions_path(format: :json) %>"
     data-internal-search-internal-suggestions-path-value="<%= internal_search_suggestions_path(format: :json) %>">
  <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-2">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="internal_search_toggle" type="checkbox"
             data-internal-search-target="toggle"
             data-action="internal-search#toggle">
      <label class="govuk-label govuk-checkboxes__label" for="internal_search_toggle">
        Use new search
      </label>
    </div>
  </div>
  <input type="hidden" name="internal_search" value="false"
         data-internal-search-target="hiddenField">
</div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= label_tag :q, search_label_text, class: 'govuk-label' %>
  </div>

  <div class="govuk-grid-column-three-quarters column-three-quarters-mobile-only">
    <%= render 'shared/search/autocomplete' %>
    <%= render 'shared/search/datepicker' if use_date_picker ||= false %>
  </div>

  <% if @no_shared_search %>
  <div class="govuk-grid-column-three-quarters">
    <%= submit_tag 'Search for a commodity', class: 'govuk-button govuk-!-margin-top-6'  %>
    <hr>
  </div>
  <% else %>
  <div class="govuk-grid-column-one-quarter column-one-quarter-mobile-only">
    <%= submit_tag 'Search', class: 'govuk-button search-button' %>
  </div>
  <% end %>
</div>
<% end %>
