<%= form_tag perform_search_path, method: :get, id: "new_search" do |f| %>

<% if @search.errors.any? %>
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @search.errors.each do |error| %>
          <li><a href="#q"><%= error.message %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<% if @search.day_month_and_year_set? %>
<%= hidden_field_tag :year, @search.year %>
<%= hidden_field_tag :month, @search.month %>
<%= hidden_field_tag :day, @search.day %>
<% end %>

<% if TradeTariffFrontend.interactive_search_enabled? %>
<div data-controller="interactive-search"
     data-interactive-search-v2-suggestions-path-value="<%= search_suggestions_path(format: :json) %>"
     data-interactive-search-interactive-suggestions-path-value="<%= interactive_search_suggestions_path(format: :json) %>">
  <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-2">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="interactive_search_toggle" type="checkbox"
             data-interactive-search-target="toggle"
             data-action="interactive-search#toggle">
      <label class="govuk-label govuk-checkboxes__label" for="interactive_search_toggle">
        Use new search
      </label>
    </div>
  </div>
  <input type="hidden" name="interactive_search" value="false"
         data-interactive-search-target="hiddenField">
</div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= label_tag :q, search_label_text, class: 'govuk-label' %>
  </div>

  <div class="govuk-grid-column-three-quarters column-three-quarters-mobile-only">
    <%= render 'shared/search/autocomplete' %>
    <%= render 'shared/search/datepicker' if use_date_picker ||= false %>
  </div>

  <% if @no_shared_search %>
  <div class="govuk-grid-column-three-quarters">
    <%= submit_tag 'Search for a commodity', class: 'govuk-button govuk-!-margin-top-6'  %>
    <hr>
  </div>
  <% else %>
  <div class="govuk-grid-column-one-quarter column-one-quarter-mobile-only">
    <%= submit_tag 'Search', class: 'govuk-button search-button' %>
  </div>
  <% end %>
</div>
<% end %>
