<%= goods_nomenclature_back_to_commodity_link %>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">The <%= service_name %></span>
      <h1 class="govuk-heading-l"><%= @measure_type.description %></h1>

      <h2 class="govuk-heading-m">
        About <%= @measure_type.description %> measures
      </h2>

      <%= govuk_table do |table| %>
        <% table.with_body do |body| %>
          <% body.with_row do |row| %>
            <% row.with_cell(text: 'Measure type', header: true, classes: 'nw') %>
            <% row.with_cell(text: @measure_type.id) %>
          <% end %>

          <% body.with_row do |row| %>
            <% row.with_cell(text: 'Description', header: true, classes: 'nw') %>
            <% row.with_cell do %>
              <p><%= @measure_type.description %></p>
              <p class="tariff-markdown"><%= @measure_type.details_text %></p>
            <% end %>
          <% end %>

          <% body.with_row do |row| %>
            <% row.with_cell(text: 'Trade direction', header: true, classes: 'nw') %>
            <% row.with_cell(text: 'Import only') %>
          <% end %>

          <% body.with_row do |row| %>
            <% row.with_cell(text: 'Preference code', header: true, classes: 'nw') %>
            <% row.with_cell(text: @preference_code.code) %>
          <% end %>

          <% body.with_row do |row| %>
            <% row.with_cell(text: 'Preference code description', header: true) %>
            <% row.with_cell(text: @preference_code.description) %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m">About preference codes</h2>
      <div class="govuk-inset-text">
        <p>
          When completing import declarations, preference codes should be entered
          into CDS in Data Element 4/17 and in CHIEF in Box 36. A preference code
          is mandatory for all imports where the goods are:
        </p>
        <%= govuk_list [
          'entering a free circulation regime (including authorised use)',
          'where a claim to tariff preference or quotas is established upon entry to the customs procedure'
        ], type: :bullet %>
        <p>
          The 3-digit code indicates whether a reduction in, or relief from,
          import duty applies. This includes specific duties and other equivalent
          charges applicable to CAP goods.
        </p>
        <p class="govuk-body">
          <%= govuk_link_to('See all preference codes', 'https://www.gov.uk/government/publications/preference-codes-for-data-element-417-of-the-customs-declaration-service', new_tab: true) %>
        </p>
      </div>
    </div>
  </div>
</main>
