<% content_for :before_main_content do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.meursing_lookup'),
      [
        [t('breadcrumb.home'), sections_path],
        [t('breadcrumb.tools'), tools_path]
      ]
    )
  %>
<% end %>

<%= back_link %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for current_step, url: meursing_lookup_step_path(current_step.key), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <% if current_step.key == 'review_answers' %>
        <%= render 'review_answers', current_step: current_step, f: f %>
      <% else %>
        <%= render 'step', current_step: current_step, f: f %>
      <% end %>

      <%= f.govuk_submit("Continue") %>
    <% end %>
  </div>
</div>
