<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.meursing_lookup'),
      [
        [t('breadcrumb.home'), home_path],
        [t('breadcrumb.tools'), tools_path]
      ]
    )
  %>
<% end %>

<div class="govuk-grid-row">
  <%= page_header 'Look up a Meursing code' %>

  <div class="govuk-grid-column-two-thirds">
    <p>
      If you are moving a product into Northern Ireland or the European Union
      that is subject to duties which are dependent on the percentage content of
      sugar, flour, milk starch and milk solids, then you may be required to
      enter a 4-digit code (beginning with 7) called a 'Meursing code' on your
      import declaration.
    </p>

    <p>Use this service to help you to work out your Meursing code.</p>

    <h2 class="govuk-heading-m">What you need to know</h2>
    <p>
      In order to correctly identify the Meursing code for your commodity, you
      will need to know the percentage content by weight of:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>milk fat</li>
      <li>milk proteins</li>
      <li>starch or glucose</li>
      <li>sucrose, invert sugar, isoglucose</li>
    </ul>

    <a href=<%= meursing_lookup_step_path('starch') %> role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h2 class="govuk-heading-m">Documents to download</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= link_to('Meursing table (PDF) [opens in new window]', asset_path('Meursing_table.pdf'), target: '_blank', class: 'govuk-link') %>
      </li>
      <li>
        <%= link_to('Meursing table (ODT) [opens in new window]', asset_path('Meursing_table.odt'), target: '_blank', class: 'govuk-link') %>
      </li>
    </ul>
  </div>
</div>
