<tr class="govuk-table__row">
  <td class="govuk-table__cell commodity-result">
    <a href="<%= commodity_path(commodity, request_id: @search.request_id) %>" aria-describedby="code-for-commodity-<%= commodity.id %>">
      <% if commodity.ancestor_descriptions.present? %>
        <%= descriptions_with_other_handling(commodity) %>
      <% else %>
        <%= sanitize commodity.description %>
      <% end %>

      <span class="govuk-visually-hidden">
        (code <%= commodity.code %>)
      </span>
    </a>
  </td>

  <td class="govuk-table__cell text-right" id="code-for-commodity-<%= commodity.id %>">
    <%= format_full_code(commodity) %>
  </td>
</tr>
