<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">
      <p class="govuk-body"><strong>You searched for</strong><br>
      <%= @search.q %></p>
    </div>

    <h2 class="govuk-heading-m">Tips for using guided search</h2>
    <p class="govuk-body">To get results from the guided search you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>search in English only</li>
      <li>do not use any special characters</li>
      <li>enter as much detail about the product as possible</li>
    </ul>

    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">Go back and search again, browse the tariff or look for your product in the A-Z.</p>

    <div class="govuk-button-group">
      <%= link_to "Start search again", find_commodity_path, class: "govuk-button" %>
      <%= link_to "Cancel", sections_path, class: "govuk-link" %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render 'search/interactive_results_sidebar' %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible app-section-break--thick">

<div class="gem-c-cards">
  <h2 class="gem-c-cards__heading govuk-heading-m gem-c-cards__heading--underline">Other ways to search for a commodity</h2>
  <ul class="gem-c-cards__list gem-c-cards__list--one-column">
    <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h3 class="gem-c-cards__sub-heading govuk-heading-s">
          <%= link_to "Keyword or commodity code", find_commodity_path, class: "govuk-link gem-c-cards__link" %>
        </h3>
        <p class="govuk-body gem-c-cards__description">Search using keywords or use a known commodity code</p>
      </div>
    </li>
    <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h3 class="gem-c-cards__sub-heading govuk-heading-s">
          <%= link_to "Goods classifications", browse_sections_path, class: "govuk-link gem-c-cards__link" %>
        </h3>
        <p class="govuk-body gem-c-cards__description">Browse the goods classification</p>
      </div>
    </li>
    <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h3 class="gem-c-cards__sub-heading govuk-heading-s">
          <%= link_to "A-Z product index", a_z_index_path(letter: 'a'), class: "govuk-link gem-c-cards__link" %>
        </h3>
        <p class="govuk-body gem-c-cards__description">Look for your product in the A-Z</p>
      </div>
    </li>
  </ul>
</div>
