<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_inset_text do %>
      <%= tag.p(class: 'govuk-body') do %>
        <%= tag.strong('You searched for') %><br>
        <%= @search.q %>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m">Tips for using guided search</h2>
    <p class="govuk-body">To get results from the guided search you should:</p>
    <%= govuk_list [
      'search in English only',
      'do not use any special characters',
      'enter as much detail about the product as possible',
    ], type: :bullet %>

    <h2 class="govuk-heading-m">Next steps</h2>
    <p class="govuk-body">Go back and search again, browse the tariff or look for your product in the A-Z.</p>

    <div class="govuk-button-group">
      <%= govuk_button_link_to 'Start search again', find_commodity_path %>
      <%= govuk_link_to "Cancel", find_commodity_path  %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render 'search/interactive_results_sidebar' %>
  </div>
</div>

<%= govuk_section_break(size: 'l', visible: true, classes: ['app-section-break--thick']) %>

<%= render 'search/other_ways_to_search' %>
