<h1 class="govuk-heading-l">We can't suggest a tariff code yet</h1>

<p class="govuk-body">
  To find the relevant commodity code, we need more information about the product.
</p>

<h2 class="govuk-heading-m">Where can I find this information?</h2>

<p class="govuk-body">This information might be found on:</p>

<%= govuk_list [
  'invoice or other billing documents',
  'online listings',
  'product information documents included in the packaging'
], type: :bullet %>

<h2 class="govuk-heading-m">Next steps</h2>

<p class="govuk-body govuk-!-margin-bottom-6">
  Go back and add more details so we can find the relevant commodity code with the highest accuracy.
</p>

<div class="govuk-button-group">
  <button class="govuk-button" data-action="interactive-question#goBack">
    Go back and add more details
  </button>
  <%= govuk_button_link_to 'Start search again', find_commodity_path, secondary: true %>
  <%= govuk_link_to "Cancel", find_commodity_path  %>
</div>

<%= govuk_section_break(size: 'l', visible: true, classes: ['app-section-break--thick']) %>

<%= render 'search/other_ways_to_search' %>
