<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      The results below are based on the details you supplied.
      View search details to see initial search term and following questions and answers.
      This information is helpful if you need to contact HMRC for more information.
    </p>

    <div data-controller="copy-search-details">
      <%= govuk_details(summary_text: 'View search details') do %>
        <p class="govuk-body-s"><strong>Search term:</strong> <%= @search.q %></p>
        <% if @search.request_id.present? %>
          <p class="govuk-body-s"><strong>Request ID:</strong> <%= @search.request_id %></p>
        <% end %>
        <% if @results.answered_questions.any? %>
          <% @results.answered_questions.each do |qa| %>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong><%= qa['question'] %></strong><br>
              <%= qa['answer'] %>
            </p>
          <% end %>
        <% end %>
        <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2"
                data-action="copy-search-details#copy"
                data-copy-search-details-target="button">
          Copy search details
        </button>
      <% end %>
    </div>

    <%= govuk_warning_text(text: 'You are responsible for using the correct commodity codes and complying with customs rules.') %>

    <% display_results = @results.result_limit.zero? ? @results.all : @results.all.first(@results.result_limit) %>
    <% strong_results, other_results = display_results.partition { |result| result.try(:confidence).to_s.casecmp('strong').zero? } %>
    <% top_result_count = strong_results.any? ? strong_results.size : display_results.size %>

    <h2 class="interactive-results__section-heading govuk-heading-m">Top search <%= 'result'.pluralize(top_result_count) %></h2>

    <div class="interactive-results">
      <% strong_results.each do |result| %>
        <%= render 'search/interactive_result', result: result %>
      <% end %>

      <% if strong_results.any? && other_results.any? %>
        <h2 class="interactive-results__section-heading govuk-heading-m">Other search results</h2>
      <% end %>

      <% other_results.each do |result| %>
        <%= render 'search/interactive_result', result: result %>
      <% end %>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <%= govuk_button_link_to 'Start search again', find_commodity_path, secondary: true %>
      <%= govuk_link_to 'Cancel', find_commodity_path %>
    </div>

    <%= govuk_details(summary_text: 'How we calculate confidence', classes: 'govuk-!-margin-top-6') do %>
      <p>Our system analyses your search term and answers to find the most relevant commodity codes.</p>
      <%= govuk_list [
        safe_join([tag.strong('Strong result'), ' - High confidence this is the correct classification']),
        safe_join([tag.strong('Good result'), ' - Likely correct but you may want to verify']),
        safe_join([tag.strong('Possible result'), ' - Worth considering but less certain'])
      ], type: :bullet %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render 'search/interactive_results_sidebar' %>
  </div>
</div>

<%= govuk_section_break(size: 'l', visible: true, classes: 'app-section-break--thick') %>

<%= render 'search/other_ways_to_search' %>
