<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.additional_codes'),
      [
        [t('breadcrumb.home'), find_commodity_path],
        [t('breadcrumb.tools'), tools_path]
      ]
    ) %>
<% end %>

<%= render partial: 'search/additional_codes/form' %>

<% if @query.present? %>
  <br>
  <article class="search-results">
    <h1 class="govuk-heading-l">Search results:</h1>

    <% if @additional_codes.any? %>
      <% @additional_codes.each do |additional_code| %>
        <table class="govuk-table">
          <colgroup>
            <col width="*">
            <col width="180">
          </colgroup>
          <caption class="govuk-table__caption govuk-!-margin-top-6">
            <strong>
              <%= additional_code.code %>
            </strong>

            <%= additional_code.formatted_description.html_safe %>
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% if additional_code.goods_nomenclatures.any? %>
              <% additional_code.goods_nomenclatures.each do |goods_nomenclature| %>
                <%= render partial: 'search/common/goods_nomenclature', object: goods_nomenclature %>
              <% end %>
            <% else %>
              <tr class="govuk-table__row">
                <td colspan="2" class="govuk-table__cell">
                  No valid commodities are associated with additional code <a class="inline" href="<%= additional_code_search_path(type: additional_code.additional_code_type_id, code: additional_code.additional_code) %>"><%= additional_code.code %></a>.
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <article class="search-results">
        <h1 class="govuk-heading-l">There are no matching results</h1>
      </article>
    <% end %>
  </article>
<% end %>
