<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.certificates'),
      [
        [t('breadcrumb.home'), find_commodity_path],
        [t('breadcrumb.tools'), tools_path]
      ]
    ) %>
<% end %>

<%= render partial: 'search/certificate/form' %>

<% if @query.present? %>
  <br>
  <article class="search-results">
    <h1 class="govuk-heading-l">Certificate search results</h1>
    <% if @certificates.any? %>
      <% @certificates.each_with_index do |certificate, index| %>
        <%= govuk_summary_list(borders: false) do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key { '<strong>Certificate code:</strong>'.html_safe } %>
            <% row.with_value { certificate.code } %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key { '<strong>Description:</strong>'.html_safe } %>
            <% row.with_value { sanitize certificate.formatted_description } %>
          <% end %>
        <% end %>

        <%= govuk_details(summary_text: 'Using this certificate on CDS', classes: 'govuk-!-margin-top-2') do %>
          <%= govuk_summary_list(borders: false) do |summary_list| %>
            <% summary_list.with_row do |row| %>
              <% row.with_key { '<strong>CDS guidance:</strong>'.html_safe } %>
              <% row.with_value { govspeak(certificate.guidance_cds) } %>
            <% end %>
          <% end %>
        <% end %>

        <%= govuk_details(summary_text: 'Commodity codes that require this certificate', classes: 'govuk-!-margin-top-2') do %>
          <% if certificate.goods_nomenclatures.many? %>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Commodity</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <% certificate.goods_nomenclatures.each do |goods_nomenclature| %>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <%= govuk_link_to segmented_commodity_code(goods_nomenclature.goods_nomenclature_item_id),
                                  polymorphic_path(goods_nomenclature, day: nil, month: nil, year: nil) %>
                    </th>

                    <td class="govuk-table__cell">
                      <%= sanitize goods_nomenclature.formatted_description %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
              No commodities are associated with this certificate
          <% end %>
        <% end %>

        <%= tag.hr unless index >= @certificates.size - 1 %>
      <% end %>
    <% else %>
      <h1 class="govuk-heading-l">There are no matching results</h1>
    <% end %>
  </article>
<% end %>
