<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.footnote_search'),
      [
        [t('breadcrumb.home'), find_commodity_path],
        [t('breadcrumb.tools'), tools_path]
      ]
    ) %>
<% end %>

<%= render partial: 'search/footnotes/form' %>

<% if @query.present? %>
  <br>
  <article class="search-results">
    <h1 class="govuk-heading-l">Footnote search results</h1>

    <% if @footnotes.any? %>
      <% @footnotes.each do |footnote| %>
        <table class="govuk-table">
          <colgroup>
            <col width="*">
            <col width="180">
          </colgroup>
          <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-6">
            <span class="govuk-visually-hidden">
              Commodities associated with footnote
            </span>
            <strong>
              <%= footnote.code %>
            </strong>
            <%= footnote.formatted_description.html_safe %>
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <%= render partial: 'search/common/goods_nomenclature', collection: footnote.goods_nomenclatures %>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <h1 class="govuk-heading-l">There are no matching results</h1>
    <% end %>
  </article>
<% end %>
