<%= page_header "Search for a commodity" %>

<div data-controller="interactive-question">

  <p class="govuk-body-l">We need to ask you some questions about the products.</p>

  <div data-interactive-question-target="form">
    <% question = @results.current_question %>

    <%= form_with model: (@form || InteractiveSearchForm.new),
                  url: perform_search_path,
                  method: :get,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                  id: "interactive_search_form" do |f| %>

      <%= f.govuk_error_summary %>

      <%= hidden_field_tag :q, @search.q %>
      <%= hidden_field_tag :internal_search, 'true' %>
      <%= hidden_field_tag :request_id, @search.request_id %>

      <% @results.answered_questions.each do |qa| %>
        <%= hidden_field_tag "answers[][question]", qa['question'] %>
        <%= hidden_field_tag "answers[][options]", normalize_options_to_json(qa['options']) %>
        <%= hidden_field_tag "answers[][answer]", qa['answer'] %>
      <% end %>

      <%= hidden_field_tag :current_question, question['question'] %>
      <%= hidden_field_tag :current_options, normalize_options_to_json(question['options']) %>

      <%= f.govuk_radio_buttons_fieldset :answer,
          legend: { text: question['question'], size: 'm' } do %>
        <% question['options'].each do |option| %>
          <%= f.govuk_radio_button :answer, option, label: { text: option } %>
        <% end %>

        <%= f.govuk_radio_divider %>

        <%= f.govuk_radio_button :answer, "I don't know",
            label: { text: "I don't know" },
            data: { action: "change->interactive-question#selectUnknown" } %>
      <% end %>

      <div class="govuk-button-group">
        <%= f.govuk_submit "Submit" %>
        <%= link_to "Cancel", sections_path, class: "govuk-link" %>
      </div>
    <% end %>

    <% if @results.answered_questions.any? %>
      <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-s">Skip to results</h2>
        <p class="govuk-body">
          If you have answered a few questions, you can skip forward to see what results
          have already been found. If you need to come back and refine the results, you
          will have that chance.
        </p>
        <%= link_to "Skip to results page", "#",
            class: "govuk-button govuk-button--secondary",
            data: { action: "click->interactive-question#skipToResults" } %>
      </div>
    <% end %>

    <% if @results.result_limit.positive? && @results.any? %>
      <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-s">Current best matches (<%= @results.size %> results)</h2>
        <ul class="govuk-list govuk-list--bullet">
          <% @results.all.first(@results.result_limit).each do |result| %>
            <li>
              <%= result.formatted_description %>
              (<%= result.goods_nomenclature_item_id %>)
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div data-interactive-question-target="results" class="govuk-!-display-none">
    <%= render 'search/interactive_results_content' %>
  </div>
</div>
