<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs "Search", [["Home", home_path]] %>
<% end %>

<div data-controller="interactive-question">
  <div data-interactive-question-target="pageHeader">
    <%= page_header %>
  </div>

  <div data-interactive-question-target="header">
    <h1 class="govuk-heading-l">Search for a commodity</h1>
    <p class="govuk-body-l">We need to ask you some questions about the products.</p>
  </div>

  <div data-interactive-question-target="form">
    <% question = @results.current_question %>

    <%= form_with model: (@form || InteractiveSearchForm.new),
                  url: perform_search_path,
                  method: :post,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                  id: "interactive_search_form",
                  data: { action: "submit->interactive-question#submitWithThinking" } do |f| %>

      <%= f.govuk_error_summary %>

      <%= hidden_field_tag :q, @search.q %>
      <%= hidden_field_tag :interactive_search, 'true' %>
      <%= hidden_field_tag :request_id, @search.request_id %>
      <%= hidden_field_tag :experiment, @search.experiment if @search.experiment.present? %>
      <%= hidden_field_tag :expanded_query, @results.expanded_query if @results.expanded_query.present? %>
      <% if @search.day_month_and_year_set? %>
        <%= hidden_field_tag :year, @search.year %>
        <%= hidden_field_tag :month, @search.month %>
        <%= hidden_field_tag :day, @search.day %>
      <% end %>

      <% @results.answered_questions.each do |qa| %>
        <%= hidden_field_tag "answers[][question]", qa['question'] %>
        <%= hidden_field_tag "answers[][options]", normalize_options_to_json(qa['options']) %>
        <%= hidden_field_tag "answers[][answer]", qa['answer'] %>
      <% end %>

      <%= hidden_field_tag :current_question, question['question'] %>
      <%= hidden_field_tag :current_options, normalize_options_to_json(question['options']) %>

      <%= f.govuk_radio_buttons_fieldset :answer,
          legend: { text: question['question'], size: 'm' } do %>
        <% question['options'].each do |option| %>
          <%= f.govuk_radio_button :answer, option, label: { text: option } %>
        <% end %>

        <%= f.govuk_radio_divider %>

        <%= f.govuk_radio_button :answer, "I don't know",
            label: { text: "I don't know" } %>
      <% end %>

      <div class="govuk-button-group">
        <%= f.govuk_submit "Submit" %>
        <%= govuk_link_to "Cancel", find_commodity_path %>
      </div>
    <% end %>


    <% if @results.result_limit.positive? && @results.any? %>
      <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-s">Current best matches (<%= @results.size %> results)</h2>
        <%= govuk_list @results.all.first(@results.result_limit).map { |result|
          safe_join([sanitize(result.formatted_description), ' (', result.goods_nomenclature_item_id, ')'])
        }, type: :bullet %>
      </div>
    <% end %>
  </div>

  <div data-interactive-question-target="thinking" class="govuk-!-display-none">
    <%= render 'search/interactive_search_thinking' %>
  </div>

  <div data-interactive-question-target="dontKnow" class="govuk-!-display-none">
    <%= render 'search/interactive_dont_know' %>
  </div>
</div>
