<h3 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3", id=<%= local_assigns[:css_id]%>>
  <%= local_assigns[:caption] %>
</h3>

<% if local_assigns[:information] %>
  <div class="govuk-inset-text tariff-inset-information">
    <%= local_assigns[:information] %>
  </div>
<% end %>

<%= render 'shared/stw_link', declarable: declarable, search: search, anchor: anchor if local_assigns[:show_stw_text] && !declarable.one_or_more_prohibitive_measures?  %>

<%= render 'measures/grouped/tariff_duty_calculator_link', declarable_code: declarable.code if local_assigns[:show_duty_calculator] %>

<%= render 'measures/grouped/vat_excise', uk_declarable: uk_declarable, declarable_code: uk_declarable.code if local_assigns[:vat_excise] && local_assigns[:uk_declarable] %> 

<table class="small-table measures govuk-table"  >
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Country</th>
      <th class="govuk-table__header">Measure type</th>

      <% unless local_assigns[:hide_duty_rate] %>
        <th class="govuk-table__header">Duty rate</th>
      <% end %>

      <th class="govuk-table__header">Conditions</th>
      <th class="govuk-table__header legal-base-col" title="Opens in a new window">Legal base</th>
      <th class="govuk-table__header">Footnotes</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <%= render partial: 'measures/measure', collection: collection, locals: { hide_duty_rate: local_assigns[:hide_duty_rate] } %>
  </tbody>
</table>
