<h3 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3", id=<%= local_assigns[:css_id]%>>
  <%= local_assigns[:caption] %>
</h3>

<%= render 'shared/stw_link', declarable: declarable, search: search, anchor: anchor if local_assigns[:show_stw_text]  %>

<%= render 'measures/grouped/tariff_duty_calculator_link', declarable_code: declarable.code if local_assigns[:show_duty_calculator] %>

<table class="small-table measures govuk-table"  >
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Country</th>
      <th class="govuk-table__header">Measure type</th>

      <% unless local_assigns[:hide_duty_rate] %>
        <th class="govuk-table__header">Duty rate</th>
      <% end %>

      <th class="govuk-table__header">Conditions</th>
      <th class="govuk-table__header legal-base-col" title="Opens in a new window">Legal base</th>
      <th class="govuk-table__header">Footnotes</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <%= render partial: 'measures/measure', collection: collection, locals: { hide_duty_rate: local_assigns[:hide_duty_rate] } %>
  </tbody>
</table>
