<h3 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3", id=<%= local_assigns[:css_id]%>>
  <%= local_assigns[:caption] %>
</h3>

<% if local_assigns[:show_stw_text] %> 
  <p class= "govuk-body">
    <% if search.country.present? %>
      <%= declarable_stw_link(declarable, search) %>
    <% else %>
      To use the new 'Check how to import or export goods' service to find out which licences and certificates you need to import commodity code <%= declarable.code %>, select the country of origin from the dropdown above.
    <% end %>
  </p>
<% end %>

<table class="small-table measures govuk-table"  >
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Country</th>
      <th class="govuk-table__header">Measure type</th>

      <% unless local_assigns[:hide_duty_rate] %>
        <th class="govuk-table__header">Duty rate</th>
      <% end %>

      <th class="govuk-table__header">Conditions</th>
      <th class="govuk-table__header legal-base-col" title="Opens in a new window">Legal base</th>
      <th class="govuk-table__header">Footnotes</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <%= render partial: 'measures/measure', collection: collection, locals: { hide_duty_rate: local_assigns[:hide_duty_rate] } %>
  </tbody>
</table>
