<%- uk_import_measures = uk_declarable.import_measures.for_country(@search.country) %>

<!-- UK IMPORT CONTROLS -->
<% if uk_import_measures.import_controls.present? %>
  <li class="govuk-!-margin-bottom-2">
    <%= link_to('Import controls', '#uk_import_controls', class: 'govuk-link') %>
  </li>
<% end %>

<!-- IMPORT DUTIES -->
<% if uk_import_measures.customs_duties.present? %>
  <li class="govuk-!-margin-bottom-2">
  <%= link_to('Import duties', '#import_duties', class: 'govuk-link') %>
  </li>
<% end %>

<!-- QUOTAS -->
<% if uk_import_measures.quotas.present? %>
  <li class="govuk-!-margin-bottom-2">
  <%= link_to('Quotas', '#quotas', class: 'govuk-link') %>
  </li>
<% end %>

<!-- TRADE REMEDIES -->
<% if uk_import_measures.trade_remedies.present? %>
  <li class="govuk-!-margin-bottom-2">
    <%= link_to('Trade Remedies, safeguards and retaliatory duties', '#trade_remedies', class: 'govuk-link') %>
  </li>
<% end %>

<!-- VAT & EXCISE -->
<% if uk_import_measures.vat_excise.present? %>
  <li class="govuk-!-margin-bottom-2">
    <%= link_to('Import VAT and excise', '#vat_excise', class: 'govuk-link') %>
  </li>
<% end %>
