<% if declarable.import_measures.vat_excise.for_country(@search.country).present? %>
  <li class="govuk-!-margin-bottom-2">
    <%= link_to('VAT and excise', '#vat_excise', class: 'govuk-link') %>
  </li>
<% end %>
<% if declarable.import_measures.customs_duties.for_country(@search.country).present? %>
  <li class="govuk-!-margin-bottom-2">
  <%= link_to('Customs duties', '#customs_duties', class: 'govuk-link') %>
  </li>
<% end %>
<% if declarable.import_measures.quotas.for_country(@search.country).present? %>
  <li class="govuk-!-margin-bottom-2">
  <%= link_to('Quotas', '#quotas', class: 'govuk-link') %>
  </li>
<% end %>
<% if declarable.import_measures.trade_remedies.for_country(@search.country).present? %>
  <li class="govuk-!-margin-bottom-2">
  <%= link_to('Trade remedies', '#trade_remedies', class: 'govuk-link') %>
  </li>
<% end %>
<% if declarable.import_measures.import_controls.for_country(@search.country).present? %>
  <li class="govuk-!-margin-bottom-2">
    <%= link_to('Import controls', '#uk_import_controls', class: 'govuk-link') %>
  </li>
<% end %>
