<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= title %></h2>
    <div class="govuk-summary-card__actions">
      <a class="govuk-link" href="<%= edit_path %>">Edit details</a>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Commodity</dt>
          <dd class="govuk-summary-list__value"><%= @commodity_code %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Non-preferential origin</dt>
          <dd class="govuk-summary-list__value"><%= @country_of_origin %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of movement</dt>
          <dd class="govuk-summary-list__value"><%= @moving_date %></dd>
        </div>
      </dl>
  </div>
</div>
