<h2 class="govuk-heading-l">Measure affected: <%= measure_type %></h2>
<p>The following links open in a new tab</p>

<table class="govuk-table govuk-table--small-text-until-tablet">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Change type</th>
      <% if presenter.has_additional_code? %>
        <th class="govuk-table__header">Additional code</th>
      <% end %>
      <% if presenter.has_quota_order_number? %>
        <th class="govuk-table__header">Quota order number</th>
      <% end %>
      <th class="govuk-table__header">Date of effect</th>
      <th class="govuk-table__header">Action
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% presenter.each do |change| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header"><%= change.change_type %></th>
        <% if presenter.has_additional_code? %>
          <td class="govuk-table__cell"><%= sanitize change.additional_code %></td>
        <% end %>
        <% if presenter.has_quota_order_number? %>
          <td class="govuk-table__cell"><%= sanitize change.quota_order_number %></td>
        <% end %>
        <td class="govuk-table__cell"><%= change.date_of_effect %></td>
        <td class="govuk-table__cell">
          <%= govuk_link_to(commodity_path(@grouped_measure_commodity_changes.goods_nomenclature_item_id, **change.commodity_link_params), target: '_blank', rel: 'noopener') do %>
            View commodity on <%= change.date_of_effect_visible %> <%= govuk_visually_hidden("(opens in new tab)") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
