<% myott_page_title "Changes to your watchlist" %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      "Commodity #{@grouped_measure_commodity_changes.goods_nomenclature_item_id}",
      [
        [t('breadcrumb.myott.watchlists'), myott_path],
        [t('breadcrumb.myott.mycommodities'), myott_mycommodities_path(as_of:)],
        ["#{@grouped_measure_commodity_changes.trade_direction_description} from #{@grouped_measure_commodity_changes.geographical_area_description}", myott_grouped_measure_change_path(@grouped_measure_commodity_changes.grouped_measure_change.resource_id, as_of:)],
      ]
    )
  %>
<% end %>

<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">
        <span class="switch-service-control__caption">
          Changes to your measures
        </span>
      </span>
      <h1 class="govuk-heading-xl">Commodity: <%= @grouped_measure_commodity_changes.goods_nomenclature_item_id %></h1>

      <div class="govuk-inset-text">
        Changes published: <strong><%= as_of.to_fs %></strong>
      </div>

      <h2 class="govuk-heading-l">Trades affected</h2>

      <%= govuk_summary_list(rows: [
        { key: { text: 'Import/Export' }, value: { text: @grouped_measure_commodity_changes.trade_direction.capitalize } },
        { key: { text: 'Country' }, value: { text: @grouped_measure_commodity_changes.geographical_area_description } },
        { key: { text: 'Chapter' }, value: { text: @grouped_measure_commodity_changes.chapter } },
        { key: { text: 'Heading' }, value: { text: sanitize(@grouped_measure_commodity_changes.heading) } },
        { key: { text: 'Classification' }, value: { text: sanitize(@grouped_measure_commodity_changes.classification_description) } },
      ]) %>

      <% @grouped_measure_commodity_changes.impacted_measures.each do |measure_type, changes| %>
        <%= render 'impacted_measures', measure_type: measure_type, presenter: Myott::ImpactedMeasuresPresenter.new(changes, trade_direction: @grouped_measure_commodity_changes.trade_direction) %>
      <% end %>
    </div>
  </div>
</div>
