<% myott_page_title "Changes to your watchlist" %>
<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">
        <span class="switch-service-control__caption">
          Changes to your measures
        </span>
      </span>
      <h1 class="govuk-heading-xl">Commodity <%= @grouped_measure_commodity_changes.goods_nomenclature_item_id %></h1>

      <div class="govuk-inset-text">
        Changes published: <%= as_of.strftime("%d/%m/%Y") %>
      </div>

      <h2 class="govuk-heading-l">Impacted trades</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Import/Export
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @grouped_measure_commodity_changes.trade_direction.capitalize %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @grouped_measure_commodity_changes.geographical_area_description %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chapter
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @grouped_measure_commodity_changes.chapter %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Heading
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @grouped_measure_commodity_changes.heading %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Classification
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @grouped_measure_commodity_changes.classification_description %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Impacted measures</h2>
      <% @grouped_measure_commodity_changes.impacted_measures.each do |measure_type, changes| %>
        <h3 class="govuk-heading-m"><%= measure_type %></h3>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Change type</th>
              <th class="govuk-table__header">Date of effect</th>
              <th class="govuk-table__header">Action
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% changes.each do |change| %>
              <%
                date = Date.parse(change['date_of_effect'])
              %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= change['change_type'] %></td>
                <td class="govuk-table__cell"><%= date.strftime("%d/%m/%Y") %></td>
                <td class="govuk-table__cell"><%= link_to("View commodity on #{date.strftime("%d/%m/%Y")}", commodity_path(@grouped_measure_commodity_changes.goods_nomenclature_item_id, day: date.day, month: date.month, year: date.year)) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
