<%= render 'duty_calculator/steps/shared/back_link' %>

<span class="govuk-caption-xl"><%= t('duty_calculator.shared.caption') %></span>
<h1 class="govuk-heading-xl">Declared subheading not allowed</h1>

<p class="govuk-body">
  You have chosen a commodity code (<%= govuk_link_to(commodity.formatted_commodity_code, commodity_url(commodity.code))%>) for which you do not have the necessary documentation to proceed.
</p>

<h2 class="govuk-heading-m">What's next</h2>

<%= govuk_list [
  safe_join(['Go back to the previous screen and ', govuk_link_to('select the correct document code', @step.previous_step_path)]),
  'Try another commodity code'
], type: :bullet %>

<%= render 'duty_calculator/shared/commodity_details' %>
