<% myott_page_title 'Active commodities', error: @alert %>
<% content_for :back_link do %>
  <%= back_link myott_mycommodities_path %>
<% end %>
<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Active commodities: <%= number_with_delimiter(@targets.total_count) %></h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <%= link_to "Replace all commodities (upload)", new_myott_mycommodity_path, class: "govuk-button govuk-button--secondary" %>
        </div>
      </div>
       <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Commodity</th>
            <th class="govuk-table__header">Classification</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @targets.each do |target| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong><%= target.target_object.goods_nomenclature_item_id %></strong>
            </td>
            <td class="govuk-table__cell">
              <%= target.target_object.classification_description %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @targets %>
    </div>
  </div>
</div>
