<% myott_page_title 'Expired commodities', error: @alert %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.expired'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path],
        [t('breadcrumb.myott.mycommodities'), myott_mycommodities_path],
      ]
    )
  %>
<% end %>

<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Expired commodities</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p>When commodity codes expire they’re no longer usable. The codes might have been removed or absorbed into different commodity codes.</p>
          <p>On this page you can see what codes have expired and review on the tariff.</p>
          <% if @targets.total_count.positive? %>
            <p>If you want to replace or remove these expired codes from your watch list, you should amend these expired codes in your own spreadsheet and upload it to replace all commodities.</p>
          <% end %>
          <h2 class="govuk-heading-m">Total expired commodities: <%= number_with_delimiter(@targets.total_count) %></h2>
        </div>
      </div>
      <% if @targets.total_count.positive? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <%= link_to "Replace all commodities (upload)", new_myott_mycommodity_path, class: "govuk-button govuk-button--secondary" %>
          </div>
        </div>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Commodity</th>
              <th class="govuk-table__header">Classification</th>
              <th class="govuk-table__header">End date</th>
              <th class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @targets.each do |target| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong><%= target.target_object.goods_nomenclature_item_id %></strong>
              </td>
              <td class="govuk-table__cell">
                <%= target.target_object.classification_description %>
              </td>
              <td class="govuk-table__cell">
                <%= target.target_object.validity_end_date.to_date.to_formatted_s(:long) %>
              </td>
              <td class="govuk-table__cell">
                <%= link_to('Review on tariff', commodity_path(target.target_object.goods_nomenclature_item_id,
                            day: target.target_object.validity_end_date.to_date.day,
                            month: target.target_object.validity_end_date.to_date.month,
                            year: target.target_object.validity_end_date.to_date.year),
                            target: '_blank')%></td>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @targets %>
      <% end %>
    </div>
  </div>
</div>
