<% myott_page_title 'Expired commodities', error: @alert %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.expired'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path],
        [t('breadcrumb.myott.mycommodities'), myott_mycommodities_path],
      ]
    )
  %>
<% end %>

<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Expired commodities</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p>When commodity codes expire they’re no longer usable. The codes might have been removed or absorbed into different commodity codes.</p>
          <p>On this page you can see what codes have expired and review on the tariff.</p>
          <h2 class="govuk-heading-l">Total expired commodities: <%= number_with_delimiter(@targets.total_count) %></h2>
          <% if @targets.total_count.positive? %>
            <p>If you want to replace or remove these expired codes from your watch list, you should amend these expired codes in your own spreadsheet and upload it to replace all commodities.</p>
          <% end %>
        </div>
      </div>
      <% if @targets.total_count.positive? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <%= link_to "Replace all commodities (upload)", new_myott_mycommodity_path, class: "govuk-button govuk-button--secondary" %>
          </div>
        </div>
        <h3 class="govuk-heading-m govuk-!-margin-top-4">Your expired commodities</h3>
        <p>All links will open in a new tab.</p>

        <!-- Desktop table -->
        <div class="myott-mycommodities__responsive-table">
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Commodity</th>
                <th class="govuk-table__header">Classification</th>
                <th class="govuk-table__header">End date</th>
                <th class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% @targets.each do |target| %>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong><%= target.goods_nomenclature_item_id %></strong>
                  </td>
                  <td class="govuk-table__cell">
                    <%= sanitize target.classification_description %>
                  </td>
                  <td class="govuk-table__cell">
                    <%= target.validity_end_date.to_fs %>
                  </td>
                  <td class="govuk-table__cell">
                    <%= link_to(commodity_path(target.goods_nomenclature_item_id), target: '_blank', rel: 'noopener') do %>
                      Review on tariff <span class="govuk-visually-hidden">(opens in new tab)</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <!-- Mobile cards -->
        <div class="myott-mycommodities__responsive-mobile-cards">
          <% @targets.each do |target| %>
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">
                  Commodity: <%= target.goods_nomenclature_item_id %>
                </h3>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <%= link_to(commodity_path(target.goods_nomenclature_item_id), target: '_blank', rel: 'noopener') do %>
                      Review on tariff <span class="govuk-visually-hidden">(opens in new tab)</span>
                    <% end %>
                  </li>
                </ul>
              </div>

              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Classification
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <%= sanitize target.classification_description %>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <%= target.validity_end_date.to_fs %>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @targets %>
      <% end %>
    </div>
  </div>
</div>
