<% myott_page_title "Upload commodities", error: @alert %>
<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Your commodity watch list</h1>
      <%= render 'meta',  meta: @meta %>

      <div class="govuk-grid-row">
        <h2 class="govuk-heading-l">Changes affecting your commodity watch list:</h2>
        <h3 class="govuk-heading-m">Changes published: <%= as_of.strftime("%d/%m/%Y") %></h3>
        <%= render 'download' if @commodity_changes.any? || @grouped_measure_changes.any? %>
        <%= render 'commodity_changes', changes: @commodity_changes %>
        <%= render 'grouped_measure_changes', changes: @grouped_measure_changes %>
      </div>
    </div>
  </div>
</div>
