<% myott_page_title "Commodity Watch List", error: @alert %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.mycommodities'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path]
      ]
    )
  %>
<% end %>

<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full watch-list-container">
      <h1 class="govuk-heading-xl">Your commodity watch list</h1>
      <%= render 'counts',  commodity_codes: @commodity_code_counts %>
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-top-3">Changes to your commodities and measures</h2>
          <h3 class="govuk-heading-m">Changes published: <%= as_of.to_fs %></h3>
          <%= render 'download', download_text: "Download tariff changes as spreadsheet", link_class: "govuk-link--no-visited-state" if @commodity_changes.any? || @grouped_measure_changes.any? %>
          <%= render 'commodity_changes', changes: @commodity_changes %>
          <%= render 'grouped_measure_changes', changes: @grouped_measure_changes %>

          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Manage your commodity subscription</h2>
          <div class="gouk-body">
            <p>
              You are subscribed to email notifications sent to <strong><%= @current_user.email %></strong>
            </p>
            <p>
              <a href="<%= myott_unsubscribe_path(current_subscription('my_commodities').resource_id) %>">
                Unsubscribe from commodity watch list
              </a>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
