<% myott_page_title "Upload commodities", error: @upload_form&.errors&.any? %>
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with model: @upload_form,
                    url: myott_mycommodities_path,
                    method: :post,
                    local: true,
                    multipart: true,
                    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

        <%= f.govuk_error_summary %>

        <% if current_subscription('my_commodities') %>
          <h1 class="govuk-heading-l">Replace all commodities</h1>
          <h2 class="govuk-heading-m">Do not just upload the new commodity codes you’re interested in.</h2>
          <p>You must upload a spreadsheet of all the commodity codes you want on your watch list.</p>
        <% else %>
          <h1 class="govuk-heading-l">Upload the commodity codes you want tariff updates about</h1>
        <% end %>
        <p>Before uploading, make sure the file meets the following criteria:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Spreadsheet in a CSV or XLSX format</li>
          <li>10 digit Commodity codes listed in column A</li>
          <li>No headings or additional information, like commodity name</li>
        </ul>
        <p>There is no limit on how many commodity codes can be added to your watch list.</p>

        <p class="govuk-inset-text">You can add or remove commodities from your watch list at any time</p>

        <div class="govuk-form-group <%= 'govuk-form-group--error' if @upload_form.errors[:file].any? %>">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="fileUpload1">
              Upload a file
            </label>
          </h2>
          <% if @upload_form.errors[:file].any? %>
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> <%= @upload_form.errors[:file].first %>
            </p>
          <% end %>
          <div class="govuk-drop-zone" data-module="govuk-file-upload">
            <%= f.file_field :file, class: "govuk-file-upload #{'govuk-file-upload--error' if @upload_form.errors[:file].any?}", id: "fileUpload1" %>
          </div>
        </div>

        <div class="govuk-button-group">
          <%= f.submit "Continue", class: "govuk-button govuk-!-margin-top-4" %>
          <% if current_subscription('my_commodities') %>
            <%= link_to 'Cancel', myott_mycommodities_path, class: 'govuk-link govuk-!-margin-left-4 govuk-link--no-visited-state' %>
          <% else %>
            <%= link_to 'Cancel', myott_path, class: 'govuk-link govuk-!-margin-left-4 govuk-link--no-visited-state' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
