<%= govuk_back_link(href: commodity_path(user_session.commodity_code)) %>

<%= form_for @step, url: import_date_path, html: { novalidate: true } do |f| %>
  <%= f.govuk_error_summary %>
  <span class="govuk-caption-xl"><%= t('duty_calculator.shared.caption') %></span>
  <%= f.govuk_date_field :import_date,
    legend: { text: 'When will the goods be imported?', size: 'xl', tag: 'h1' },
    hint: { text: 'As duties and quotas change over time, it may be important to enter the date you think your goods your goods will be imported.<br>
      Enter a date from 1 January 2021, or later.<br>
      Use the format day, month, year. For example, 27 3 2021.'.html_safe } %>
  <% if @commodity_validity_periods.present? %>
    <p class="govuk-body">
      This commodity code is available for these periods:
    </p>
    <%= govuk_list @commodity_validity_periods.map { |period|
      if period.end_date.present?
        safe_join(['From ', period.start_date.to_formatted_s(:long), ' to ', period.end_date.to_formatted_s(:long)])
      else
        safe_join(['From ', period.start_date.to_formatted_s(:long), ' onwards'])
      end
    }, type: :bullet %>
  <% end %>
  <%= f.govuk_submit %>
<% end %>

<p class="govuk-body">The duties shown in this service are dependent on both of these:</p>

<%= govuk_list [
  'the data you enter',
  'the tariff information that has been supplied'
], type: :bullet %>

<p class="govuk-body">It is possible that this data will change over time.</p>

<%= render 'duty_calculator/shared/commodity_details' %>
