<% myott_page_title "Changes to your classification" %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.classification'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path],
        [t('breadcrumb.myott.mycommodities'), myott_mycommodities_path(as_of:)],
      ]
    )
  %>
<% end %>

<div class="govuk-body myott-mycommodities">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">
        <span class="switch-service-control__caption">
          Changes to your commodities
        </span>
      </span>
      <h1 class="govuk-heading-xl">Changes to classification</h1>

      <div class="govuk-inset-text">
        Changes published: <strong><%= as_of.to_fs %></strong>
      </div>

      <p class="govuk-body">
        The classification, or description, of a commodity can change.
      </p>

      <p class="govuk-body">
        On this page you will find the new classification for a commodity code you are watching and the date the new classification comes into effect.
      </p>

      <h2 class="govuk-heading-m">Total commodities affected: <%= @change.count %></h2>

      <% if @change.count.positive? %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Commodity</th>
              <th class="govuk-table__header govuk-!-width-two-thirds">New classification</th>
              <th class="govuk-table__header">Date of effect</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
              <% @change.tariff_changes.each do |change| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <%= change.goods_nomenclature_item_id %>
                </td>
                <td class="govuk-table__cell">
                  <%= sanitize change.classification_description %>
                </td>
                <td class="govuk-table__cell">
                  <%= change.date_of_effect %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
