<h1 class="govuk-heading-l">Tell us about your duty question</h1>

<p class="govuk-body">
  Give as much detail as you can. This helps HMRC review your enquiry.
</p>

<p class="govuk-body">
  If you do not know the commodity code, go back and submit a <%= govuk_link_to 'classification enquiry', product_experience_enquiry_form_field_path('category', category: 'classification') %>.
</p>

<%= render 'product_experience/enquiry_form/text_input',
           field: 'duty_commodity_code',
           label: 'Commodity code (optional)',
           hint: 'Commodity codes are usually 10 digits, for example 9403 20 80 90.' %>

<%= render 'product_experience/enquiry_form/text_input',
           field: 'customs_value',
           label: 'Customs value of the goods (optional)',
           hint: nil %>

<%= render 'product_experience/enquiry_form/text_input',
           field: 'country_of_origin',
           label: 'Country of origin (optional)',
           hint: nil %>

<%= render 'product_experience/enquiry_form/radio_group',
           field: 'destination',
           legend: 'Destination (optional)',
           legend_size: 'm',
           inline: true %>

<%= render 'product_experience/enquiry_form/detail_query' %>
