<% described_by = [
  ("#{field}-hint" if hint.present?),
  ("#{field}-error" if field_error(field)),
].compact.join(' ') %>

<div class="govuk-form-group <%= field_error_class(field) %>">
  <label class="govuk-label govuk-label--<%= local_assigns.fetch(:label_size, 'm') %>" for="<%= field %>">
    <%= label %>
  </label>
  <% if hint.present? %>
    <div id="<%= "#{field}-hint" %>" class="govuk-hint">
      <%= hint %>
    </div>
  <% end %>
  <% if field_error(field) %>
    <p id="<%= "#{field}-error" %>" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> <%= field_error(field) %>
    </p>
  <% end %>
  <%= text_field_tag field,
                     field_value(field),
                     class: class_names('govuk-input', 'govuk-input--error': field_error(field).present?),
                     id: field,
                     'aria-describedby': (described_by if described_by.present?) %>
</div>
