<% content_for :title, "#{enquiry_form_title('Check Your Answers')}" %>
<% content_for :back_link do %>
  <%= back_link product_experience_enquiry_form_field_path(@prev_field) %>
<% end %>
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your answers before submitting your form</h1>
      <%= form_with url: product_experience_enquiry_form_submit_form_path, method: :post, local: true do %>
        <%= hidden_field_tag :submission_token, session[:submission_token] %>

        <h2 class="govuk-heading-m">What do you need help with?</h2>
        <%= govuk_summary_list(rows: check_your_answers_rows(%w[category other_category])) %>

        <% if @enquiry_data['category'] == 'classification' %>
          <h2 class="govuk-heading-m">Tell us about your goods</h2>
          <%= govuk_summary_list(rows: check_your_answers_rows(%w[goods_product goods_made_of goods_used_for goods_function goods_processed goods_packaged])) %>

          <h2 class="govuk-heading-m">Do you already have a possible commodity code?</h2>
          <%= govuk_summary_list(rows: check_your_answers_rows(%w[has_commodity_code commodity_code])) %>
        <% else %>
          <h2 class="govuk-heading-m">How can we help?</h2>
          <%= govuk_summary_list(rows: check_your_answers_rows(%w[query])) %>
        <% end %>

        <h2 class="govuk-heading-m">Contact details</h2>
        <%= govuk_summary_list(rows: check_your_answers_rows(%w[email_address full_name company_name occupation])) %>

        <p><%= submit_tag "Submit", class: "govuk-button govuk-!-margin-top-4" %></p>
      <% end %>
    </div>
  </div>
</div>
