<% content_for :title, "#{enquiry_form_title('Check Your Answers')}" %>
<% content_for :back_link do %>
  <%= back_link product_experience_enquiry_form_field_path(@prev_field) %>
<% end %>
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your answers before submitting your form</h1>
      <%= form_with url: product_experience_enquiry_form_submit_form_path,
                    method: :post,
                    local: true,
                    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
        <%= hidden_field_tag :submission_token, session[:submission_token] %>

        <% rows = [
          check_your_answers_row('category', %w[category other_category], labelled_fields: []),
        ] %>

        <% if @enquiry_data['category'] == 'classification' %>
          <% rows << check_your_answers_row('goods_details', %w[goods_product goods_made_of goods_used_for goods_function goods_processed goods_packaged]) %>
          <% rows << check_your_answers_row('commodity_code', %w[has_commodity_code commodity_code], labelled_fields: %w[commodity_code]) %>
        <% elsif @enquiry_data['category'] == EnquiryFormHelper::IMPORT_DUTIES_AND_QUOTAS %>
          <% rows << check_your_answers_row('enquiry_type', %w[enquiry_type], labelled_fields: []) %>
          <% if @enquiry_data['enquiry_type'] == 'import_duties' %>
            <% rows << check_your_answers_row('duty_details', %w[duty_commodity_code customs_value country_of_origin destination query], labelled_fields: %w[duty_commodity_code customs_value country_of_origin destination query]) %>
          <% elsif @enquiry_data['enquiry_type'] == 'quotas' %>
            <% rows << check_your_answers_row('quota_details', %w[quota_reference_type quota_commodity_code quota_order_number movement_reference_number country_of_origin destination query], labelled_fields: %w[quota_reference_type quota_commodity_code quota_order_number movement_reference_number country_of_origin destination query]) %>
          <% elsif @enquiry_data['enquiry_type'] == 'postal_or_baggage' %>
            <% rows << check_your_answers_row('postal_or_baggage_details', %w[postal_or_baggage postal_commodity_code item purchase_price transport_cost query], labelled_fields: %w[postal_or_baggage postal_commodity_code item purchase_price transport_cost query]) %>
          <% end %>
        <% else %>
          <% rows << check_your_answers_row('query', %w[query], labelled_fields: []) %>
        <% end %>

        <% rows << check_your_answers_row('contact_details', %w[email_address full_name company_name occupation]) %>

        <%= govuk_summary_list(rows: rows.compact) %>

        <%= f.govuk_submit 'Submit', class: 'govuk-!-margin-top-4' %>
      <% end %>
    </div>
  </div>
</div>
