<%= form_for controller, method: :post, url: url do |f| %>
  <fieldset class="govuk-fieldset country-picker js-country-picker box govuk-!-font-size-16">
    <div class="country-picker-container">
      <%= f.hidden_field :day, value: @search.date.day %>
      <%= f.hidden_field :month, value: @search.date.month %>
      <%= f.hidden_field :year, value: @search.date.year %>
      <%= f.hidden_field :anchor, value: nil %>
      <%= f.label :country, country_picker_text, class: 'govuk-label' %>
      <%= f.select :country, f.object.countries.map{ |c| [c.long_description, c.id] }, { include_blank: 'All countries' }, class: 'custom-select js-country-picker-select', "aria-label": "Filter measures by country" %>
      <a class="reset-country-picker" href="#" title="Reset country picker" role="button">Reset<span class="long-text">&nbsp;to all countries</span></a>
    </div>
    <%= f.button 'Set country', class: 'button search-submit govuk-button' %>
  </fieldset>
<% end %>
