<details class='govuk-details' data-module='govuk-details'>
    <summary class='govuk-details__summary'>
        <span class='govuk-details__summary-text'>Refer to the full text of the Origin Reference Document</span>
    </summary>
    <div class='govuk-details__text'>
        <div class='rules-of-origin-attachment'>
            <div class='rules-of-origin-attachment-thumb'>
                <%= link_to asset_path(origin_reference_document.document_path) do %>
                    <svg version='1.1' viewBox='0 0 99 140' width='99' height='140' aria-hidden='false'>
                        <path d='M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z' stroke-width='0'></path>
                    </svg>
                <% end %>
            </div>
            <div class='rules-of-origin-attachment-text'>
                This information is derived from <strong><%= article_match %></strong> of the <%= origin_reference_document.ord_title %>.
                <br><br>
                <%= link_to "Download rules of origin reference document.", asset_path(origin_reference_document.document_path) %>
                <div class='subtext'>
                    Version <%= origin_reference_document.ord_version %><br>
                    Dated <%= origin_reference_document.ord_date %>
                </div>
            </div>
        </div>
    </div>
</details>
