<header>
  <span class="govuk-caption-xl">
    <span class="switch-service-control__caption">
      <%= trade_tariff_heading %>
    </span>

    <%= switch_service_button if show_switch_service %>
  </span>

  <% if heading_text.present? %>
    <h1 class="<%= css_heading_size(heading_text) %>">
      <%= sanitize heading_text %>
    </h1>
  <% end %>

  <%= extra_content %>
</header>
