<header>
  <% unless caption_text === false %>
  <span class="govuk-caption-xl">
    <span class="switch-service-control__caption">
      <%= caption_text || trade_tariff_heading %>
    </span>

    <%= switch_service_button if show_switch_service %>
  </span>
  <% end %>

  <% if heading_text.present? %>
    <h1 class="<%= css_heading_size(heading_text) %>">
      <%= sanitize heading_text %>
    </h1>
  <% end %>

  <%= extra_content %>
</header>
