<%= link_to order_number.number, "##{order_number.id}", class: 'reference numerical', title: 'Opens in a popup', 'data-popup-ref' => "#{order_number.id}" %>&nbsp;

<div class='popup govuk-visually-hidden' data-popup='<%= order_number.id %>'>
  <article>
    <% if order_number.definition.present? %>
      <table class="govuk-table govuk-table-m">
        <h2 class="govuk-heading-m"><%= "Quota #{order_number.number}"%></h2>
        <% if show_warning?(order_number) %>
          <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <%= quota_definition.description %>
          </strong>
          </div>
        <% end %>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Quota order number</th>
            <td class="numerical govuk-table__cell numerical"><%= order_number.number %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Current balance</th>
            <td class="numerical govuk-table__cell numerical"><%= "#{quota_definition.balance} #{quota_definition.measurement_unit}" %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Opening balance</th>
            <td class="numerical govuk-table__cell numerical"><%= "#{quota_definition.initial_volume} #{quota_definition.measurement_unit}" %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Status</th>
            <td class="numerical govuk-table__cell"><%= quota_definition.status %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Start and end dates</th>
            <td class="numerical govuk-table__cell numerical"><%= start_and_end_dates_for(quota_definition) %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Last allocation date</th>
            <td class="numerical govuk-table__cell numerical"><%= quota_definition.last_allocation_date.to_formatted_s(:gov) || 'n/a' %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Suspension period</th>
            <td class="numerical govuk-table__cell numerical"><%= suspension_period_dates_for(quota_definition) %></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="col" class='govuk-table__header'>Blocking period</th>
            <td class="numerical govuk-table__cell numerical"><%= blocking_period_dates_for(quota_definition) %></td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-!-margin-top-4">In an effort to facilitate UK importers HMRC endeavours to keep quotas 'OPEN' where possible, therefore the information displayed above may differ slightly from the current UK position. If you require further information contact the Tariff Quota Management Team by email: <%= mail_to("tariff.management@hmrc.gov.uk", nil, subject: "Order number #{order_number.number}") %>.</p>
    <% else %>
      <p class="govuk-!-margin-top-4">Information on the availability of this quota can be obtained from the Rural Payments Agency.</p>
    <% end %>
  </article>
</div>
