<%= page_header heading_for(section: @section,chapter: @chapter,heading: @heading, commodity: @commodity) %>

<% unless @no_shared_search %>
  <% if (controller_name == 'commodities' && action_name == 'show') || (controller_name == 'headings' && action_name == 'show' && @heading&.declarable?) %>

  <% elsif %w(search search_references exchange_rates pages errors  feedback).exclude?(controller_name) && action_name != 'quota_search' %>

    <%= form_tag perform_search_path, method: :get, class: "tariff-search #{@section_css}", id: "new_search" do |f| %>
      <div class="search-header js-search-header">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="searchfield govuk-form-group">
              <fieldset class="govuk-fieldset govuk-search-input">
                <%= label_tag :q, search_label_text, class: 'govuk-label' %>
                <%= hidden_field_tag :q, @search.q, { class: "js-commodity-picker-target" } %>
                <div class='js-commodity-picker-select js-show'></div>
                <noscript>
                  <%= text_field_tag(:q, @search.q, {class: "govuk-input", name: :q}) %>
                </noscript>
              </fieldset>
              <fieldset class="govuk-fieldset search-submit">
                <input class="govuk-button" type="submit" name="new_search" value="Search">
              </fieldset>
            </div>
          </div>
        </div>

        <fieldset class="govuk-fieldset flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </fieldset>
      </div>
    <% end %>

  <% end %>
<% end %>

<%= render 'shared/search_date_picker' %>