<div class="govuk-inset-text govuk-inset-text--s tariff-inset-information">
    <% if search.country.present? %>
      <% if one_or_more_prohibitive_measure?(declarable) %>
        <p> The import of commodity <%= declarable.code %> from <%= trading_partner_country_description(search.country) %> is prohibited  </p>
      <% elsif one_or_more_conditionally_prohibitive_measure?(declarable) %>
        <p>
          The import of commodity <%= declarable.code %> from <%= trading_partner_country_description(search.country) %> may be prohibited, depending on the additional code used.
        </p>
        <p class= "govuk-body">
          <strong>Check how to import or export goods</strong>
        </p>
      <% else %>
        <p class= "govuk-body">
          <%= declarable_stw_link(declarable, search, anchor) %>
        </p>
      <% end %>
    <% else %>
      To check how to import commodity <%= declarable.code %>, select the country from which you are importing.
  <% end %>
  </p>
</div>
