<% section ||= false
chapter ||= false
heading ||= false
declarable ||= false %>

<div class="tariff-breadcrumbs js-tariff-breadcrumbs clt govuk-!-font-size-16">
  <nav>
    <p>
      <%= link_to 'All sections', root_path %>
    </p>

    <% if declarable %>
      <%= render partial: 'shared/tariff_breadcrumbs/declarable', locals: { declarable: declarable } %>
    <% elsif heading %>
      <%= render partial: 'shared/tariff_breadcrumbs/heading', locals: { heading: heading } %>
    <% elsif chapter %>
      <%= render partial: 'shared/tariff_breadcrumbs/chapter', locals: { chapter: chapter } %>
    <% elsif section %>
      <%= render partial: 'shared/tariff_breadcrumbs/section', locals: { section: section } %>
    <% end %>
  </nav>

  <% if declarable && declarable.is_a?(Commodity) %>
    <div style="margin-top: 4rem;">
      <%= link_to "&larr;&nbsp;Previous commodity".html_safe, commodity_path(declarable.prev, request.query_parameters.symbolize_keys) if declarable.prev %>
      <span style="float: right">
        <%= link_to "Next commodity&nbsp;&rarr;".html_safe, commodity_path(declarable.next, request.query_parameters.symbolize_keys) if declarable.next %>
      </span>
    </div>
  <% end %>
</div>
