<% if @section %>
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to "Home", home_path, class:'govuk-breadcrumbs__link' %>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Browse', browse_sections_path, class: 'govuk-breadcrumbs__link' %>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        <%= breadcrumb_link_or_text(@section, @chapter, "Section #{@section.numeral}") %>
      </li>

      <% if @chapter %>
        <li class="govuk-breadcrumbs__list-item">
          <%= breadcrumb_link_or_text(@chapter, @heading, "Chapter #{@chapter.short_code}") %>
        </li>

        <% if @heading && !@heading.declarable?%>
          <li class="govuk-breadcrumbs__list-item">
            <%= breadcrumb_link_or_text(@heading, @declarable || @subheading, "Heading #{@heading.short_code}") %>
          </li>
        <% end %>

        <% if @subheading %>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            Subheading <%= @subheading.code %>
          </li>
        <% end %>

        <% if @declarable %>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            Commodity <%= @declarable.code %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>

<%= yield :top_breadcrumbs %>
