<%= feature_panel do %>
  <h2 class="govuk-heading-m">Advance tariff rulings</h2>
  <p class="govuk-body">
    For more help in classifying your commodity, you can
    <%= govuk_link_to('search for advance tariff rulings', 'https://www.tax.service.gov.uk/search-for-advance-tariff-rulings/search', new_tab: '', visually_hidden_suffix: Govuk::Components.config.default_link_new_tab_text) %>
  </p>
  <p class="govuk-body">
    Advance tariff rulings allow you to get a legally binding decision on the
    commodity code to use when importing into or exporting goods.
  </p>

  <p class="govuk-body">
    Find out more about
    <%= govuk_link_to('advance tariff rulings', 'https://www.gov.uk/guidance/apply-for-an-advance-tariff-ruling', new_tab: '', visually_hidden_suffix: Govuk::Components.config.default_link_new_tab_text) %>.
  </p>

  <p class="govuk-body">
    <%= govuk_link_to('Contact HMRC if you need help finding the right commodity code for your goods', 'https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods', new_tab: '', visually_hidden_suffix: Govuk::Components.config.default_link_new_tab_text) %>.
  </p>
<% end %>

<%= feature_panel(last: true) do %>
  <h2 class="govuk-heading-m">Check how to import or export goods</h2>

  <p class="govuk-body">
    Use the
    '<%= govuk_link_to('Check how to import or export goods', 'https://www.gov.uk/check-how-to-import-export', new_tab: '', visually_hidden_suffix: Govuk::Components.config.default_link_new_tab_text) %>'
    service to get information about importing and exporting, including:
  </p>

  <%= govuk_list [
    'how to register your business for trading',
    'which licences and certificates you need for your goods',
    'paying the right tax and duty for your goods',
    'how to make declarations for your goods to clear the UK border',
    'which paperwork you need to keep',
  ], type: :bullet %>
<% end %>
