<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= sections_url(format: :json) %>' title='Section list in JSON format' />
<% end %>

<h2 class="govuk-heading-m all-sections">All sections</h2>

<section class="sections">
  <table class="tariff-table govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          Section title
        </th>
        <th scope="col" class="govuk-table__header">Section</th>
        <th scope="col" class="govuk-table__header">Chapters</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render @sections %>
    </tbody>
  </table>
</section>

<div class="feature-panel">
  <h2 class="govuk-heading-m">Advance tariff rulings</h2>
  <p class="govuk-body">
    For more help in classifying your commodity, you can
    <%= link_to('search for advance tariff rulings', 'https://www.tax.service.gov.uk/search-for-advance-tariff-rulings/search', target: '_blank', class: 'govuk-link') %>
  </p>
  <p class="govuk-body">
    Advance tariff rulings allow you to get a legally binding decision on the
    commodity code to use when importing into or exporting goods.
  </p>

  <p class="govuk-body">
    Find out more about
    <%= link_to('advance tariff rulings', 'https://www.gov.uk/guidance/apply-for-an-advance-tariff-ruling', target: '_blank', class: 'govuk-link') %>.
  </p>

  <p class="govuk-body">
    <%= link_to('Contact HMRC if you need help finding the right commodity code for your
      goods','https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods', target: '_blank', class: 'govuk-link') %>.
  </p>
</div>

<div class="feature-panel last-feature-panel">
  <h2 class="govuk-heading-m">Check how to import or export goods</h2>

  <p class="govuk-body">
    Use the
    '<%= link_to('Check how to import or export goods', 'https://www.gov.uk/check-how-to-import-export', target: '_blank', class: 'govuk-link') %>'
    service to get information about importing and exporting, including:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>how to register your business for trading</li>
    <li>which licences and certificates you need for your goods</li>
    <li>paying the right tax and duty for your goods</li>
    <li>how to make declarations for your goods to clear the UK border</li>
    <li>which paperwork you need to keep</li>
  </ul>
</div>

<!--
Tariff Updates:

<% @tariff_updates.each do |tariff_update| %>
<%= tariff_update %>
<% end %>
-->
