<% content_for :title, goods_nomenclature_title(@section) %>

<% content_for :head do %>
  <meta name="description" content="<%= @section %>">
  <link rel='alternate' type='application/json' href='<%= section_url(@section, format: :json) %>' title='Section information page in JSON format' />
<% end %>

<%= page_header @section.page_heading %>

<% content_for :bodyClasses, "page--wide" %>

<p>Section <strong><%= @section.numeral %></strong> contains <strong><%= @section.chapters_count %></strong> chapters. Choose the chapter that best matches your goods.</p>

<section class="chapters">
  <table class="section-browser govuk-table">
    <caption class="govuk-visually-hidden">Chapters for <%= @section %></caption>
    <tbody>
      <%= render @chapters %>
    </tbody>
  </table>
</section>

<%= render 'shared/notes', section_note: @section.section_note %>
