<div class="rules-of-origin__scheme govuk-!-margin-bottom-7">
  <h3 class="govuk-heading-m">
    <% if multiple_schemes %>
      <span class="govuk-caption-l">
        <%= scheme.title %>
      </span>
    <% end %>

    Product-specific rules for commodity <%= commodity_code %>
  </h3>

  <%- if scheme.rules.any? -%>
    <%= render 'rules_of_origin/rules_table', country_name: country_name,
                                              rules: scheme.rules %>

    <%= render 'rules_of_origin/introductory_notes',
               introductory_notes: scheme.introductory_notes %>
  <%- else -%>
    <p>
      There are no product-specific rules for commodity <%= commodity_code %>
    </p>
  <%- end -%>

  <%= render 'rules_of_origin/proofs',
              proofs: scheme.proofs,
              scheme_title: (multiple_schemes ? scheme.title : nil) %>
</div>
