<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m rules-of-origin-heading">
      Preferential rules of origin for trading with <%= country_name %>
      <%= country_flag_tag country_code, alt: "Flag for #{country_name}" %>
    </h2>

    <% if rules_of_origin_schemes.present? %>
      <p>
        Preferential tariff treatment reduces the duties you are required to pay when importing or exporting goods to or from <%= country_name %>.
      </p>
      <p>
        Rules of origin are the criteria which determine the national source of a product. They determine if your trade is eligible for preferential tariff treatment and may influence the rules that apply to your import or export.
      </p>
    <% end %>

    <%= rules_of_origin_schemes_intro country_name, rules_of_origin_schemes %>

    <% if TradeTariffFrontend.roo_wizard? && rules_of_origin_schemes.any? %>
      <%= render 'rules_of_origin/wizard_link',
                 country_code: country_code,
                 commodity_code: commodity_code %>
    <% end %>

    <%= render 'rules_of_origin/non_preferential' %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div id="rules-of-origin__related-content">
      <h2 class="govuk-heading-m">
        Related content
      </h2>

      <nav role="navigation">
        <ul class="govuk-list govuk-list-s">
          <% if rules_of_origin_schemes.flat_map(&:links).any? %>
            <% rules_of_origin_schemes.flat_map(&:links).uniq(&:id).each do |link| %>
              <li>
                <%= link_to link.text, link.url %>
              </li>
            <% end %>
          <% else %>
            <li><a href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">Check your goods meet the rules of origin</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
