<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m rules-of-origin-heading">
      Preferential rules of origin for trading with <%= country_name %>
      <%= country_flag_tag country_code, alt: "Flag for #{country_name}" %>
    </h2>

    <%= rules_of_origin_schemes_intro country_name, rules_of_origin %>

    <%= render partial: 'rules_of_origin/scheme',
               collection: rules_of_origin,
               locals: {
                 country_name: country_name,
                 commodity_code: commodity_code,
                 multiple_schemes: rules_of_origin.many?
               } %>

    <%= render 'rules_of_origin/non_preferential' %>
  </div>

  <% if rules_of_origin.flat_map(&:links).any? %>
  <div class="govuk-grid-column-one-third" id="rules-of-origin__related-content">
    <h2 class="govuk-heading-m">
      Related content
    </h2>

    <nav role="navigation">
      <ul class="govuk-list govuk-list-s">
        <% rules_of_origin.flat_map(&:links).each do |link| %>
          <li>
            <%= link_to link.text, link.url %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <% end %>
</div>
