<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l rules-of-origin-heading">
      Rules of origin for trading with <%= country_name %>
      <%= country_flag_tag country_code, alt: "Flag for #{country_name}" %>
    </h2>

    <%= rules_of_origin_schemes_intro country_name, rules_of_origin %>

    <h3 class="govuk-heading-m">
      Product-specific rules for commodity <%= commodity_code %>
    </h3>

    <%- if (rules = rules_of_origin.flat_map(&:rules)).any? -%>
      <%= render 'rules_of_origin/rules_table',
                 country_name: country_name,
                 rules: rules %>

      <%= render partial: 'rules_of_origin/introductory_notes',
                 collection: rules_of_origin.map(&:introductory_notes) %>
    <%- else -%>
      <p>
        There are no product-specific rules for commodity <% commodity_code %>
      </p>
    <%- end -%>

    <% rules_of_origin.map(&:fta_intro).map(&:presence).compact.each do |fta_intro| %>
    <div class="rules-of-origin-fta">
      <h3 class="govuk-heading-m">
        Trading relationship with <%= country_name %>
      </h3>

      <div class="tariff-markdown">
        <%= govspeak fta_intro %>
      </div>
    </div>
    <% end %>
  </div>

  <% if rules_of_origin.flat_map(&:links).any? %>
  <div class="grid-column-one-third" id="rules-of-origin__related-content">
    <h2 class="govuk-heading-m">
      Related content
    </h2>

    <nav role="navigation">
      <ul class="govuk-list govuk-list-s">
        <% rules_of_origin.flat_map(&:links).each do |link| %>
          <li>
            <%= link_to link.text, link.url %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <% end %>
</div>
