<div class="panel panel--grey">

  <h3 class="govuk-heading-m" id="work-out-rules-of-origin">
    Work out if your goods meet the rules of origin
  </h3>

  <p>
    Use this tool to determine whether your trade fulfils the rules of origin of
    <% if rules_of_origin_schemes.many? %>
      of the relevant trade agreement
    <% else %>
      <%= rules_of_origin_schemes.first.title %>
    <% end %>
    and can therefore be considered as <strong>originating</strong>.
  </p>

  <% if declarable.zero_mfn_duty? && declarable.import_trade_summary.preferential_duties? %>
    <p>
      As the third country duty is zero, you do not need to apply for a
      preferential tariff or comply with preferential rules of origin.
    </p>

    <p>If you would still like to continue, click the 'Check rules of origin' button.</p>
  <% end %>

  <p>
    This is not a legal binding decision. For certainty, you can
    <%= link_to 'https://www.gov.uk/guidance/apply-for-an-advance-origin-ruling' do %>
      apply for an advanced origin ruling (opens in new window)
    <% end %>.
  </p>

  <%= form_with model: RulesOfOrigin::Wizard.steps.first,
                url: rules_of_origin_step_path(commodity_code,
                                               country_code,
                                               RulesOfOrigin::Wizard.steps.first.key),
                method: :patch do |f| %>


    <%= f.hidden_field :service, value: TradeTariffFrontend::ServiceChooser.service_name %>
    <%= f.hidden_field :commodity_code, value: commodity_code %>
    <%= f.hidden_field :country_code, value: country_code %>

    <%= f.button 'Check rules of origin', class: 'govuk-button' %>
  <% end %>

</div>
