<h3 class="govuk-heading-s">
  Work out if your goods meet the rules of origin
</h3>

<p>
  Work out if your trade fulfils the rules of origin and can therefore be
  <strong>considered</strong> originating.
</p>

<% if declarable.zero_mfn_duty? && declarable.import_trade_summary.preferential_duties? %>
  <div class="tariff-breadcrumbs">
    <p>As the third country duty is zero, you do not need to apply for a preferential tariff or
    comply with preferential rules of origin.</p>

    <p>If you would still like to continue, click the 'Check rules of origin' button.</p>
  </div>
<% end %>

<p>
  <%= form_with model: RulesOfOrigin::Wizard.steps.first,
                url: rules_of_origin_step_path(commodity_code,
                                               country_code,
                                               RulesOfOrigin::Wizard.steps.first.key),
                method: :patch do |f| %>


    <%= f.hidden_field :service, value: TradeTariffFrontend::ServiceChooser.service_name %>
    <%= f.hidden_field :commodity_code, value: commodity_code %>
    <%= f.hidden_field :country_code, value: country_code %>

    <%= f.button 'Check rules of origin', class: 'govuk-button' %>
  <% end %>
</p>
