<%= contextual_sidebar do %>
  <%= related_navigation do %>
    <%= related_navigation_section(
          title: 'Latest news',
          heading_id: 'related-nav-related_items-e81f23c1',
          heading_attributes: { data: { track_count: 'sidebarrelateditemsection' } },
          nav_attributes: { data: { module: 'gem-toggle' } },
        ) do %>
    <% news_items.each do |news_item| %>
      <article class="news-item">
        <p class="govuk-body-s govuk-!-margin-bottom-2">
          <%= govuk_link_to news_item.title, news_item %>
        </p>

        <p class="tariff-body-subtext">
          <%= news_item.start_date.to_formatted_s :short %>
          <% news_item.collections.each do |collection| %>
            | <%= govuk_link_to collection.name, collection %>
          <% end %>
        </p>
      </article>
    <% end %>

    <%= govuk_link_to 'See all latest news', news_items_path %>
    <% end %>
  <% end %>
<% end %>
