<%= page_header do %>
  <h1 class="govuk-heading-xl">
    Trade tariff news bulletin
  </h1>
<% end %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs t('breadcrumb.news'), [[t('breadcrumb.home'), home_path]] %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    &nbsp;
  </div>

  <div class="govuk-grid-column-three-quarters news-items">
    <h2 class="govuk-heading-l">
      <%= @collection_name || 'All collections' %>
    </h2>

    <% @news_items.each do |news_item| %>
      <article class="news-item" data-news-item-id="<%= news_item.id %>">
        <h2 class="govuk-heading-s">
          <%= link_to news_item.title, news_item %>
        </h2>

        <div class="tariff-markdown tariff-markdown--reduced-trailing-margin">
          <%= format_news_item_content news_item.precis %>
        </div>

        <p class="tariff-body-subtext">
          <%= news_item.start_date.to_formatted_s :short %>
          <% news_item.collections.each do |collection| %>
            | <%= collection.name %>
          <% end %>
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      </article>
    <% end %>

    <% if @news_items.empty? %>
      <div class="govuk-inset-text">
        <p>
          <em>There are no updates at present</em>
        </p>
      </div>
    <% end %>
  </div>
</div>
