<%= page_header t('breadcrumb.news') %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs t('breadcrumb.news'), [[t('breadcrumb.home'), home_path]] %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% @news_items.each do |news_item| %>
    <article class="news-item govuk-grid-row" data-news-item-id="<%= news_item.id %>">
      <div class="news-item__date govuk-body-m govuk-grid-column-one-quarter">
        <%= news_item.start_date.to_formatted_s :short %>
      </div>

      <div class="news-item__content govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-s">
          <%= news_item.title %>
        </h2>

        <div class="tariff-markdown">
          <%= format_news_item_content news_item.precis %>
        </div>

        <%= link_to 'Show more ...', news_item if news_item.content_after_precis? %>
      </div>
    </article>
  <% end %>

  <% if @news_items.empty? %>
    <div class="govuk-inset-text">
      <p>
        <em>There are no updates at present</em>
      </p>
    </div>
  <% end %>
</div>
  <%= render 'feed' %>
</div>
