<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs truncate(@news_item.title),
                           [ [t('breadcrumb.home'), home_path],
                             [t('breadcrumb.news'), news_items_path],
                             [@news_collection.name,
                              news_items_path(collections_id: @news_collection.id)], ] %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= page_header @news_item.title %>

    <% if @news_item.precis.present? %>
    <div class="tariff-markdown tariff-markdown--with-all-lead-paragraph">
      <%= format_news_item_content @news_item.precis %>
    </div>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <article class="news-item">
      <div class="gem-c-metadata">
        <dl>
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <%= link_to 'HM Revenue & Customs',
                        'https://www.gov.uk/government/organisations/hm-revenue-customs' %>
          </dd>

          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">
            <%= @news_item.start_date.to_formatted_s :long %>
          </dd>
        </dl>
      </div>

      <% if @news_item.subheadings.any? %>
      <div id="contents">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list govuk-!-margin-bottom-6">
          <% @news_item.subheadings.each do |subheading| %>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <%= link_to subheading,
                          "##{markdown_heading_id subheading}",
                          class: 'gem-c-contents-list__link govuk-link--no-underline' %>
            </li>
          <% end %>
        </ol>
      </div>
      <% end %>

      <div class="tariff-markdown">
        <%= format_news_item_content @news_item.content %>
      </div>
    </article>
  </div>

  <div class="govuk-grid-column-one-third">
  </div>
</div>
