<% content_for :title, trading_partner_title %>

<% if current_goods_nomenclature_code %>
  <%= goods_nomenclature_back_link %>
<% end %>

<%= page_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= form_for @trading_partner, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: 'patch' do |f| %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading"><%= t('trading_partner.form.legend_text') %></h1>
        </legend>

        <%= f.hidden_field :render_errors, value: true %>
        <% if current_goods_nomenclature_code %>
          <%= f.hidden_field :goods_nomenclature_code, value: current_goods_nomenclature_code %>
        <% end %>

        <%= f.govuk_error_summary %>

        <%= f.govuk_collection_select :country,
          TradingPartner.options,
          :id,
          :name,
          options: { prompt: true, },
          label: nil,
          hint: { text: TradeTariffFrontend::ServiceChooser.uk? ? t('trading_partner.form.hint_text_uk') : t('trading_partner.form.hint_text_xi') } %>

        <div class="govuk-button-group">
          <%= f.govuk_submit(t('trading_partner.form.submit')) %>
          <%= link_to('Reset to all countries', goods_nomenclature_path(country: nil), class: 'govuk-link') %>
        </div>
      <% end %>
      </fieldset>
  </div>
</div>

<%= javascript_pack_tag 'trading-partner-autocomplete' %>
