<% if live_issue.commodities.empty? %>
  <p class="govuk-body">
    None affected
  </p>
<% elsif live_issue.commodities.size > 1 %>
<%= govuk_details(summary_text: "#{live_issue.commodities.count} commodities affected") do %>
  <% live_issue.commodities.each do |commodity_code| %>
    <p class="govuk-body">
      <a href="/commodities/<%= commodity_code %>" class="govuk-link">
        <%= commodity_code %>
      </a>
    </p>
  <% end %>
<% end %>
<% else %>
<p class="govuk-body">
  <a href="/commodities/<%= live_issue.commodities.first %>" class="govuk-link">
    <%= live_issue.commodities.first %>
  </a>
</p>
<% end %>
