<%= page_header do %>
  <h1 class="govuk-heading-xl">
    <%= t('live_issues.title') %>
  </h1>
<% end %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs t('breadcrumb.live_issues'), [[t('breadcrumb.news'), '/news']] %>
<% end %>

<div class="live-issues">
  <%= render 'filters' %>

  <% if @live_issues.any? %>
    <div class="live-issues__list">
      <% @live_issues.each do |live_issue| %>
        <%= render 'card', live_issue: live_issue %>
      <% end %>
    </div>

    <%= paginate @live_issues %>
  <% else %>
    <p class="govuk-body"><%= t('live_issues.empty') %></p>
  <% end %>
</div>
