<% content_for :back_link do %>
  <% back_link home_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Tell us if your goods meet any exemptions</h1>
    <p class="govuk-body">Your goods may meet criteria for Category 1. However, more information is needed to determine the category of your goods.</p>
    <div class="govuk-inset-text">
      Check if your goods meet any exemptions. This will help to determine their category, and whether you can continue through the simplified process for internal market movements.
    </div>

    <%= form_with url: '/q1_cat_update', method: :post, local: true, class: 'govuk-form' do %>

      <% @category_assessments.each_with_index do |category_assessment, index| %>
        <fieldset class="govuk-fieldset" style="margin-bottom: 20px;">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">Do your goods meet any exemptions?</h2>
          </legend>

          <p class="govuk-body" style="margin-top: 5px; margin-bottom: 10px;">
            Annex IV of the Windsor Framework states: "<%= category_assessment.theme.to_s %>"
          </p>

          <p class="govuk-body" style="margin-top: 5px; margin-bottom: 10px;">
            <%= category_assessment.regulation.description %>
          </p>

          <% if category_assessment.regulation.regulation_url.present? %>
            <%= link_to 'View EU Regulation document',
                        category_assessment.regulation.regulation_url, 
                        class: 'govuk-link'
            %>
          <% end %>

          <div class="govuk-checkboxes govuk-!-margin-top-3">
            <% category_assessment.exemptions.each do |exemption| %>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="<%= exemption.code %>" name="exemptions[]" type="checkbox" value="<%= exemption.code %>">
                <label class="govuk-label govuk-checkboxes__label" for="<%= exemption.code %>">
                  [<%= exemption.code %>]
                  <p class="govuk-body" style="margin-top: 5px; margin-bottom: 10px;"><%= exemption.formatted_description %></p>
                </label>
              </div>
            <% end %>
          </div>

          <% if index < @category_assessments.length - 1 %>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <% end %>

          <div class="govuk-checkboxes__item" style="margin-top: 10px;">
            <input class="govuk-checkboxes__input" id="no_exemptions" name="exemptions[]" type="checkbox" value="no_exemptions">
            <label class="govuk-label govuk-checkboxes__label" for="no_exemptions">
              No exemptions apply to my goods
            </label>
          </div>

        </fieldset>
      <% end %>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    <% end %>

    <%= render '/green_lanes/shared/support_email_section' %>
  </div>
</div>
