<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :back_link do %>
      <% back_link home_path %>
    <% end %>
    <h1 class="govuk-heading-l">Tell us if your goods meet any exemptions</h1>
    <p class="govuk-body">Your goods may meet criteria for Category 1. However, more information is needed to determine the category of your goods.</p>
    <div class="govuk-inset-text">
      Check if your goods meet any exemptions. This will help to determine their category, and whether you can continue through the simplified process for internal market movements.
    </div>

    <%= form_with url: cat_1_questions_green_lanes_check_moving_requirements_path, method: :post, local: true, class: 'govuk-form' do %>
      <% @exemptions.each do |exemption| %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">Do your goods meet any exemptions?</h2>
          </legend>
          <p class="govuk-body">Annex IV of the Windsor Framework states: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit ex. Nulla a sapien sem. Proin at nisl vitae turpis varius cursus. In faucibus tortor sit amet odio pellentesque viverra."</p>
          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit ex</p>
          <a href="#" class="govuk-link">View EU Regulation document</a>
          
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="<%= exemption[:code] %>" name="exemptions[]" type="checkbox" value="<%= exemption[:code] %>">
              <label class="govuk-label govuk-checkboxes__label" for="<%= exemption[:code] %>">
                [<%= exemption[:code] %>]
                <p class="govuk-body"><%= exemption[:description] %></p>
              </label>
            </div>
          </div>
        </fieldset>
      <% end %>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="no_exemptions" name="exemptions[]" type="checkbox" value="no_exemptions">
        <label class="govuk-label govuk-checkboxes__label" for="no_exemptions">
          No exemptions apply to my goods
        </label>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    <% end %>

    <%= render '/green_lanes/shared/support_email_section' %>
  </div>
</div>
