<% content_for :back_link do %>
  <% back_link home_path %>
<% end %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <header>
      <h1 class="govuk-heading-l">
        Check if you are eligible for the simplified processes for Internal Market Movements from Great Britain to Northern Ireland
      </h1>
    </header>

    <p>
      Traders may be able to use the simplified processes for Internal Market Movements when moving goods within the UK's internal market. This applies to goods moving from a business in Great Britain (England, Scotland, or Wales) to a business in Northern Ireland.
    </p>
    <p>
      These simplified processes are introduced as part of the new arrangements for parcels and freight under the Windsor Framework.
     <%= govuk_link_to('Find out more about Internal Market Movements', 'http://www.gov.uk/guidance/internal-market-movements-from-great-britain-to-northern-ireland', new_tab: true) %>.
    <p>

    <p>
      UK Internal Market Scheme (UKIMS) authorised traders that move goods from Great Britain to Northern Ireland using the simplified processes can submit a simplified data set rather than a full declaration, as well as benefitting from zero customs duties.
    </p>

    <p>
      Use this tool to help you check:
    </p>

    <%= govuk_list [
      'what is required to use the simplified processes for Internal Market Movements',
      'the category of your goods',
      'what to do next'
    ], type: :bullet %>

    <p>
      This tool sits on the UK tariff due to legal requirements set out in the Windsor Framework.
    </p>

    <h3 class="govuk-heading-m">Categorisation of goods</h3>

    <p>
      Categorisation is based on legal regulations and the specific composition and origin of goods.
    </p>

    <p>
      Traders must check the category of their goods to determine if they are eligible to use the simplified processes for Internal Market Movements.
    </p>

    <p>Goods can be:</p>
    <%= govuk_list [
      safe_join([tag.span('Category 1:', class: 'govuk-!-font-weight-bold'), ' not eligible for simplified processes and subject to full customs duties and checks']),
      safe_join([tag.span('Category 2', class: 'govuk-!-font-weight-bold'), ' or ', tag.span('Standard goods:', class: 'govuk-!-font-weight-bold'), ' eligible for simplified processes'])
    ], type: :bullet %>

    <h3 class="govuk-heading-m">Before you start</h3>

    <p>You'll need to know:</p>
    <%= govuk_list [
      govuk_link_to('the commodity code for your goods', 'https://www.trade-tariff.service.gov.uk/find_commodity'),
      govuk_link_to('the non-preferential origin of your goods', 'https://www.trade-tariff.service.gov.uk/howto/origin'),
      'when the internal movement of goods is likely to take place'
    ], type: :bullet %>

    <%= govuk_start_button(
          text: 'Start now',
          href: green_lanes_your_movement_path(@commodity_code ? { commodity_code: @commodity_code } : {}),
          classes: 'govuk-!-margin-top-2'
        ) %>
  </div>
</div>
