<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.browse'),
      [
        [t('breadcrumb.home'), home_path]
      ]
    )
  %>
<% end %>

<%= page_header 'Browse the tariff' %>

<p>
  The goods classification contains <%= pluralize @sections.length, 'section' %>,
  listed below. Choose the section that best matches your goods to see the
  <abbr title="Harmonised System">HS</abbr> chapters that are contained in the
  section.
</p>

<section class="sections">
  <%= govuk_table(classes: 'tariff-table') do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: 'Section') %>
        <% row.with_cell(text: 'Section title') %>
        <% row.with_cell(text: 'Chapters') %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% @sections.each do |section| %>
        <% body.with_row do |row| %>
          <% row.with_cell(classes: 'numeral') do %>
            <%= govuk_visually_hidden 'Section ' %>
            <%= section.numeral %>
          <% end %>
            <% row.with_cell(text: govuk_link_to(section.title, section_path(section, request.query_parameters.symbolize_keys), visually_hidden_prefix: "Section #{section.position}:"), classes: 'title') %>
          <% row.with_cell(text: section.chapters_title, classes: 'chapters') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
