<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
          "Cookies on UK Integrated Online Tariff",
          [
              [t('breadcrumb.home'), home_path],
          ]
      )
  %>
<% end %>

<%= form_for cookies_policy do |form| %>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <% if @saved %>
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your cookie settings were saved
          </h3>
          <p>You can update these settings at any time.</p>
        </div>
      </div>
    <% end %>

    <%= page_header "Cookies on the #{service_name}" %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Cookies are files saved on your phone, tablet or computer when you visit a website.
        We use cookies to store information about how you use this website, such as the pages you visit.
        </p>
        <h2 class="govuk-heading-m">Cookie settings</h2>
        <p>We use 3 types of cookie. You can choose which cookies you're happy for us to use.</p>
        <h3 class="govuk-heading-s">Cookies that measure website use</h3>
        <p>We use Google Analytics to measure how you use the website so we can improve it based on user needs. We
        do not allow Google to use or share the data about how you use this site.</p>
        <p>Google Analytics sets cookies that store anonymised information about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how you got to the site</li>
          <li>the pages you visit on the UK Integrated Online Tariff, and how long you spend on each page</li>
          <li>what you click on while you're visiting the site</li>
        </ul>
        <p>Google Analytics sets the following cookies:</p>
        <table class="govuk-table govuk-table--m govuk-table--responsive">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">_ga</td>
              <td class="govuk-table__cell" data-label="Purpose">These help us count how many people visit the service by tracking if
                you’ve visited before
              </td>
              <td class="govuk-table__cell" data-label="Expires">2 years</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">_gid</td>
              <td class="govuk-table__cell" data-label="Purpose">This randomly generated number is used to determine unique visitors to our
                site
              </td>
              <td class="govuk-table__cell" data-label="Expires">24 hours</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">_gat_govuk_shared</td>
              <td class="govuk-table__cell" data-label="Purpose">This randomly generated number is used to reduce the number of requests
                made
              </td>
              <td class="govuk-table__cell" data-label="Expires">2 years</td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="cookie-consent-usage-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
              Do you consent to cookies that measure website use?
            </legend>
            <div id="cookie-consent-usage-hint" class="govuk-hint">
            </div>
            <div class="govuk-radios govuk-radios--stacked">
              <div class="govuk-radios__item">
                <%= form.radio_button :usage, 'true', class: "govuk-radios__input" %>
                <%= form.label(:usage, "Use cookies that measure my website use",
                               class: "govuk-label govuk-radios__label", value: 'true') %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button :usage, 'false', class: "govuk-radios__input" %>
                <%= form.label(:usage, "No, do not use cookies that measure my website use",
                               class: "govuk-label govuk-radios__label", value: 'false') %>
              </div>
            </div>
          </fieldset>
        </div>
        <h3 class="govuk-heading-s">Cookies that remember your settings</h3>
        <p>These cookies do things like remember your preferences and the choices you make, to personalise your
        experience of using the site.</p>
        <p>We use the following cookies to remember your settings:</p>
        <table class="govuk-table govuk-table--m govuk-table--responsive">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">commodityTree</td>
              <td class="govuk-table__cell" data-label="Purpose">Remembers if you’ve chosen the ‘Open all headings’ or ‘Close all headings’
                option when viewing a hierarchical list of commodities
              </td>
              <td class="govuk-table__cell" data-label="Expires">28 days</td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="cookie-consent-settings-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
              Do you consent to cookies that remember your settings?
            </legend>
            <div id="cookie-consent-settings-hint" class="govuk-hint">
            </div>
            <div class="govuk-radios govuk-radios--stacked">
              <div class="govuk-radios__item">
                <%= form.radio_button :remember_settings, true, class: "govuk-radios__input" %>
                <%= form.label(:remember_settings, "Yes, use cookies that remember my settings on the site", class: "govuk-label govuk-radios__label", value: true) %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button :remember_settings, false, class: "govuk-radios__input" %>
                <%= form.label(:remember_settings, "No, do not use cookies that remember my settings on the site", class: "govuk-label govuk-radios__label", value: false) %>
              </div>
            </div>
          </fieldset>
        </div>
        <h3 class="govuk-heading-s">Strictly necessary cookies</h3>
        <p>These essential cookies do things like remember your progress through the application.
        They always need to be on, or the service will not function.
        </p>
        <table class="govuk-table govuk-table--m govuk-table--responsive">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">_tradetarifffrontend_session</td>
              <td class="govuk-table__cell" data-label="Purpose">Used to remember details of the pages
                that you have visited in the current session
              </td>
              <td class="govuk-table__cell" data-label="Expires">Until you close your browser</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">_trade_tariff_duty_calculator_session</td>
              <td class="govuk-table__cell" data-label="Purpose">Used to remember data that you have
                entered into the online duty calculator, for the dureation of the current session
              </td>
              <td class="govuk-table__cell" data-label="Expires">Until you close your browser</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">cookies_preferences_set</td>
              <td class="govuk-table__cell" data-label="Purpose">Lets us know that you’ve saved your cookie consent settings</td>
              <td class="govuk-table__cell" data-label="Expires">1 year</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Name">cookies_policy</td>
              <td class="govuk-table__cell" data-label="Purpose">Saves your cookie consent settings</td>
              <td class="govuk-table__cell" data-label="Expires">1 year</td>
            </tr>
          </tbody>
        </table>
        <%= submit_tag "Save Changes", class: "govuk-button
        cookies_save_changes" %>
      <p>Last updated 16 Mar 2021</p>
      </div>
      <div class="govuk-grid-column-two-thirds"></div>
    </div>
  </main>
<% end %>
