<% content_for :title, goods_nomenclature_title(@chapter) %>
<% content_for :head do %>
  <meta name="description" content="<%= @chapter  %>">
<% end %>

<% content_for :bodyClasses, "page--wide" %>

<%= page_header @chapter.page_heading %>

<%= render 'shared/context_tables/chapter' %>
<%= render 'shared/callouts/chapter', chapter: @chapter %>

<section class="headings">
  <%= govuk_table(classes: 'section-browser') do |table| %>
    <% table.with_body do %>
      <%= render @headings %>
    <% end %>
  <% end %>
</section>

<%= render 'shared/notes', section_note: @chapter.section.section_note, chapter_note: @chapter.chapter_note %>
