<% content_for :title, goods_nomenclature_title(@chapter) %>
<% content_for :head do %>
  <meta name="description" content="<%= @chapter  %>">
  <link rel='alternate' type='application/json' href='<%= chapter_url(@chapter, format: :json) %>' title='Chapter information page in JSON format' />
<% end %>

<% content_for :bodyClasses, "page--wide" %>

<%= page_header heading_for(section: @section,chapter: @chapter,heading: @heading, commodity: @commodity) %>

<%= render 'shared/search/date_picker_form' %>
<%= render 'shared/context_tables/chapter' %>
<%= render 'shared/callouts/chapter', chapter: @chapter %>

<section class="headings">
  <table class="section-browser govuk-table">
    <tbody>
      <%= render @headings %>
    </tbody>
  </table>
</section>

<%= render 'shared/notes', section_note: @chapter.section.section_note, chapter_note: @chapter.chapter_note %>
