<% if commodity.has_children? %>
  <li data-tree-target="parentNode" class="has_children <%= commodity_level(commodity, initial_indent) %><%= leaf_position(commodity) %>">
    <span data-tree-target="commodityNode" data-action="mouseenter->tree#hoverOnNode mouseleave->tree#hoverOffNode click->tree#toggleNode" class="description open without_right_margin" aria-expanded="false" role="button" id="commodity-<%= commodity.short_code %>">
      <%= commodity.to_s.html_safe %>
    </span>

    <div class="identifier service-<%= TradeTariffFrontend::ServiceChooser.service_name %>">
      <% unless commodity.umbrella_code? %>
        <%= segmented_commodity_code abbreviate_commodity_code(commodity), coloured: true %>
      <% end %>
    </div>

    <ul class="govuk-list"><%= render commodity.children, initial_indent: initial_indent %></ul>
  </li>
<% else %>
  <li class="<%= commodity_level(commodity, initial_indent) %><%= leaf_position(commodity) %>">
    <%= link_to commodity_path(commodity, request.query_parameters.symbolize_keys), title: "View complete information for this commodity", "aria-label" => commodity.aria_label do %>
      <div class="description open" id="commodity-<%= commodity.short_code %>"><%= commodity.to_s.html_safe %></div>

      <%= overview_measure_duty_amounts_for(commodity) %>
    <% end %>
  </li>
<% end %>
