<% cacheable = params.values.compact.none? { |v| v.is_a?(ActionController::Parameters) } %>

<% content = capture do %>
  <% content_for :head do %>
    <meta name="description" content="<%= declarable.description_plain %>">
  <% end %>

  <% content_for :bodyClasses, "page--wide" %>

  <%= render 'commodities/header', commodity_code: declarable.code %>

  <% declarable.critical_footnotes.each do |footnote| %>
    <%= render 'footnotes/critical_warning', footnote: footnote %>
  <% end %>

  <%= render 'goods_nomenclatures/ancestors', goods_nomenclature: declarable %>

  <%= render 'shared/feedback_banner_commodities' %>

  <%= render 'shared/context_tables/commodity' %>

  <strong class="govuk-tag govuk-tag--green--wide">
    You are currently using the <%= service_name %>
  </strong>

  <p class="govuk-body govuk-!-margin-top-6">
    Use this page to find:
  </p>

  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
    <li>import and export measures, conditions and exemptions</li>
    <li>reduced or zero duty rates based on preferential rules of origin</li>
    <li>chapter notes and references</li>
  </ul>

  <%= render 'declarables/declarable',
            declarable: declarable,
            xi_declarable: xi_declarable,
            uk_declarable: uk_declarable,
            rules_of_origin_schemes: @rules_of_origin_schemes,
            roo_all_schemes: @roo_all_schemes %>

  <%= render 'commodities/help_popup' %>
<% end %>

<% if cacheable %>
  <%= cache(commodity_cache_key) { concat(content) } %>
<% else %>
  <%= content %>
<% end %>
