<% myott_page_title "Unsubscribe from commodity watch list", error: @form.errors.any? %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.unsubscribe'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path],
        [t('breadcrumb.myott.mycommodities'), myott_mycommodities_path],
      ]
    )
  %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <%= form_with model: @form, url: myott_unsubscribe_path(params[:id]), method: :delete, local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :decision,
        id: "myott-unsubscribe-my-commodities-form-decision-field-error",
        legend: { text: 'Are you sure you want to unsubscribe from your commodity watch list?', size: 'l' },
        hint: { text: "You will no longer have access to your commodity watch list dashboard or receive email notifications" } do %>
        <%= f.govuk_radio_button :decision, 'true', label: { text: "Yes" } %>
        <%= f.govuk_radio_button :decision, 'false', label: { text: "No" } %>
      <% end %>
      <%= f.submit "Confirm", class: "govuk-button" %>
    <% end %>
  </div>
</div>
