<div class="downloads" data-module="govspeak">
  <section class="attachment exchange-rates-attachment">
    <div class="attachment-thumb">
      <a href="<%= filename %>">
        <%= image_pack_tag("spreadsheet.png", alt: "") %>
    </a>
    </div>
    <div class="attachment-details">
      <h3 class="govuk-heading-s govuk-!-font-size-27 govuk-!-font-weight-regular exchange-rates-period-heading">
        Average rate for the year to <%= end_date %>
      </h3>

      <p>
        <a href="<%= filename %>">
            <strong>Download CSV</strong>
            <%= size %>
        </a>
      </p>

      <p>This file may not be suitable for users of assistive technology</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Request an accessible format.
          </span>
        </summary>
        <div class="govuk-details__text">
          If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:different.format@hmrc.gov.uk">different.format@hmrc.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
        </div>
      </details>
    </div>
  </section>
</div>
