<div class="downloads" data-module="govspeak">
  <section class="attachment exchange-rates-attachment">
    <div class="attachment-thumb">
      <% if period.has_exchange_rates %>
        <%= link_to(image_tag("spreadsheet.png", alt: ""), exchange_rate_collection_path("#{period.year}-#{period.month}"), class: 'govuk-link') %>
      <% else %>
        <%= image_tag("spreadsheet.png", alt: "") %>
      <% end %>
    </div>
    <div class="attachment-details">
      <h3 class="govuk-heading-s govuk-!-font-size-27 govuk-!-font-weight-regular exchange-rates-period-heading">
        <%= Date::MONTHNAMES[period.month] %> <%= period.year %> <%= type %> exchange rates
      </h3>

      <p class="document-download">
        <% if period.has_exchange_rates %>
          <%= link_to "<strong>View online</strong>".html_safe, exchange_rate_collection_path("#{period.year}-#{period.month}", type: type), title: "View #{period.month} #{period.year} monthly exchange rates online", class: 'govuk-link' %>
        <% end %>

        <% if period.files.any? %>
          <% period.files.each do |file| %>
            <a title="Download <%= period.month%> <%= period.year %> monthly exchange rates in <%= file.format.upcase %> format" href="<%= file.file_path %>">
              <strong><%= file.format.upcase %></strong> <%= file.file_size_in_kb %> KB
            </a>
          <% end %>
        <% end %>
      </p>

      <p>This file may not be suitable for users of assistive technology</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Request an accessible format.
          </span>
        </summary>
        <div class="govuk-details__text">
          If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:different.format@hmrc.gov.uk">different.format@hmrc.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
        </div>
      </details>
    </div>
  </section>
</div>
