<% content_for :title, exchange_rates_page_title(type: @period_list.type,
                                                 year: @period_list.year)
%>

<% content_for :head do %>
  <meta name="description" content="<%= exchange_rates_meta_description(type: @period_list.type,
                                                                        year: @period_list.year)
  %>">
<% end %>


<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs t("breadcrumb.#{@period_list.type}_rates") ,
    [
      [t('breadcrumb.home'), home_path],
      [t('breadcrumb.tools'), tools_path],
      ["Exchange rates #{@period_list.year}",exchange_rates_path]
    ] %>
 <% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= trade_tariff_heading %></span>
    <h1>
      <% if @period_list.monthly? %>
        <%= @period_list.year %> HMRC <%= @period_list.type %> currency exchange rates
      <% else %>
        HMRC <%= @period_list.type %> currency exchange rates
      <% end %>
    </h1>

    <p class="govuk-body-l">
      <% if @period_list.monthly? %>
        Check the official <%= @period_list.year %> HMRC foreign currency exchange <%= @period_list.type %> rates.
      <% else %>
        Check the official HMRC foreign currency exchange <%= @period_list.type %> rates.
      <% end %>
    </p>

    <p>
      <%= t("exchange_rates.period_list.description.#{@period_list.type}_html") %>
    </p>
    <p>
      <%= t("exchange_rates.period_list.download_formats.#{@period_list.type}_html") %>
    </p>

    <dt class="gem-c-metadata__term">From:</dt>
    <dd class="gem-c-metadata__definition">
      <strong>
        <a href="https://www.gov.uk/government/organisations/hm-revenue-customs">
          HM Revenue &amp; Customs
        </a>
      </strong>
    </dd>

    <% if @period_list.publication_date.present? %>
      <dt class="gem-c-metadata__term">Published:</dt>

      <dd class="gem-c-metadata__definition">
        <%= @period_list.publication_date %>
      </dd>
    <% end %>

    <h2>Documents</h2>

    <% @period_list.exchange_rate_periods.each do |period| %>
      <%= render partial: 'exchange_rates/document_detail',
                 locals: { period: period, type: @period_list.type } %>
    <% end %>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">Related information</h2>

      <nav role="navigation" class="gem-c-related-navigation__nav-section" data-module="gem-toggle" data-gem-toggle-module-started="true">
        <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <%= related_information_sidebar_list_items(@period_list.type) %>
        </ul>
      </nav>
    </div>

    <% if @period_list.monthly? %>
      <div class="gem-c-related-navigation">
        <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          <%= @period_list.type.capitalize %> exchange rates by year
        </h2>

        <nav role="navigation" class="gem-c-related-navigation__nav-section" data-module="gem-toggle" data-gem-toggle-module-started="true">
          <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
            <% filter_years(@period_list.exchange_rate_years, @period_list.year).each do |year| %>
              <li class="gem-c-related-navigation__link">
                <%= link_to "#{year.year}", exchange_rates_path(type: @period_list.type, year: year.year) %><br>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    <% end %>

  </div>
</div>
