<% content_for :top_breadcrumbs do %>
   <%= generate_breadcrumbs "Exchange rates #{@period_list.year}",
                            [ [t('breadcrumb.home'), home_path],
                            [t('breadcrumb.tools'), tools_path],
                            [t('breadcrumb.exchange_rates'), exchange_rates_path], ] %>
 <% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= trade_tariff_heading %></span>
    <h1 class="govuk-heading-l"><%= @period_list.year %> HMRC currency exchange rates.</h1>
    <p class="govuk-body-l">Check the official <%= @period_list.year %> HMRC foreign currency exchange monthly rates.</p>
    <p class="govuk-body">Data is available in online (HTML), CSV and XML formats.</p>

    <dt class="gem-c-metadata__term">From:</dt>
    <dd class="gem-c-metadata__definition">
      <strong><a href="https://www.gov.uk/government/organisations/hm-revenue-customs">HM Revenue &amp; Customs</a></strong>
    </dd>
    <dt class="gem-c-metadata__term">Published:</dt>
    <dd class="gem-c-metadata__definition">
      <%= @period_list.publication_date %>
    </dd>

    <h2>Documents</h2>

    <% @period_list.exchange_rate_periods.each do |period| %>
      <%= render partial: 'exchange_rates/document_detail', locals: { period: period } %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">Related information</h2>

      <nav role="navigation" class="gem-c-related-navigation__nav-section" data-module="gem-toggle" data-gem-toggle-module-started="true">
          <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
              <li class="gem-c-related-navigation__link">
                <%= link_to "Average rates", '' %><br>
              </li>
              <li class="gem-c-related-navigation__link">
                <%= link_to "Spot rates", '' %><br>
              </li>
          </ul>
      </nav>
    </div>

    <div class="gem-c-related-navigation">
      <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">Monthly exchange rates by year</h2>

      <nav role="navigation" class="gem-c-related-navigation__nav-section" data-module="gem-toggle" data-gem-toggle-module-started="true">
          <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
            <% filter_years(@period_list.exchange_rate_years, @period_list.year).each do |year| %>
              <li class="gem-c-related-navigation__link">
                  <%= link_to "#{year.year.to_s}", exchange_rates_path(year: year.year) %><br>
              </li>
            <% end %>
          </ul>
      </nav>
    </div>
  </div>
</div>
