<dl class="govuk-summary-list govuk-!-margin-bottom-4">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Commodity
    </dt>
    <dd class="govuk-summary-list__value">
      <%= segmented_commodity_code(declarable.code) %>
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Classification
    </dt>
    <dd class="govuk-summary-list__value">
      <% if declarable.is_other? %>
        <% declarable.descriptions_with_other_handling.each do |description| %>
          <%= convert_text_to_links(description).html_safe %> >
        <% end %>

        <strong>
          <%= convert_text_to_links(declarable.to_s).html_safe %>
        </strong>
      <% else %>
        <%= convert_text_to_links(declarable.to_s).html_safe %>
    <% end %>
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  <% if declarable.validity_start_date.present? && declarable.validity_end_date.present? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Commodity valid between</dt>
      <dd class="govuk-summary-list__value">
        <%= declarable.validity_start_date.to_formatted_s(:long) %> and <%= declarable.validity_end_date.to_formatted_s(:long) %>
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
  <% elsif declarable.validity_start_date.present? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Commodity valid from</dt>
      <dd class="govuk-summary-list__value">
        <%= declarable.validity_start_date.to_formatted_s(:long) %>
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
  <% end %>
  <%= render 'shared/context_tables/supplementary_unit_row', declarable: declarable %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of trade
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @search.date.to_formatted_s(:long) %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to('Change', import_export_dates_path, class: 'govuk-link') %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Filter by country
    </dt>
    <dd class="govuk-summary-list__value">
      <%= trading_partner_country_description(@search.country) %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to('Change', trading_partners_path, class: 'govuk-link') %>
    </dd>
  </div>
</dl>
