<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Heading
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @heading.short_code %>
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Classification
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @heading.to_s %>
    </dd>
    <dd class="govuk-summary-list__actions"></dd>
  </div>
  <% if @heading.declarable? %>
    <%= render 'shared/context_tables/supplementary_unit_row', declarable: @heading %>
  <% end %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of trade
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @search.date.to_formatted_s(:long) %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to('Change', import_export_dates_path, class: 'govuk-link') %>
    </dd>
  </div>
  <% if @heading.declarable? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Filter by country
      </dt>
      <dd class="govuk-summary-list__value">
        <%= trading_partner_country_description(@search.country) %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <%= link_to('Change', trading_partners_path, class: 'govuk-link') %>
      </dd>
    </div>
  <% end %>
</dl>
