<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-xl">The UK Integrated Online Tariff</span>
  <h1 class="govuk-heading-l">Check simplified procedure value rates for fresh fruit and vegetables</h1>

  <h2 class="govuk-heading-s">When to use a simplified procedure value</h2>
  <p>If you import whole fruit or vegetables into the UK on a consignment basis you may be able to <a href="https://www.gov.uk/guidance/how-to-value-your-imports-for-customs-duty-and-trade-statistics#simp-val">use a simplified procedure value</a> using the <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-4-deductive-method">method 4 valuation</a> to declare the produce.</p>

  <h2 class="govuk-heading-s">Goods that are excluded</h2>
  <p>Fruit or vegetable products that are cut and diced before they’re imported are excluded from the scheme.</p>
  <p>You cannot use the simplified procedure value if there is a sale for export and the transaction value is known. Those goods must be valued using <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-1-transaction-value">valuation method 1</a>.</p>

  <h2 class="govuk-heading-s">Rates for period <%= date_range_message(@validity_start_date, @validity_end_date) %></h2>
  <p>Simplified procedure value rates change every 14 days. You may only use the rate that applies to the produce you are importing within the correct 14-day period.</p>

  <div class="govuk-form-group simplified-procdural-values-form">
    <p>Select unit price period start date</p>
    <%= form_with(url: simplified_procedural_values_path, method: "get") do |f| %>
      <%= f.select :validity_start_date, @by_date_options, { selected: @validity_start_date }, { class: "govuk-select" } %>
      <%= f.submit 'View rates for selected date', class: 'govuk-button', name: nil %>
    <% end %>
  </div>

  <p>The following goods with simplified procedure value rates are listed alphabetically by 'Description of goods'.</p>

  <p>Click on the simplified procedure code to see the applicable rate for that code over time.</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Simplified procedure code</th>
        <th scope="col" class="govuk-table__header">Commodity code(s)</th>
        <th scope="col" class="govuk-table__header">Description of goods</th>
        <th scope="col" class="govuk-table__header">Value per 100 kg</th>
      </tr>
    </thead>
    <tbody>
      <% @simplified_procedural_codes.each do |spc| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= link_to  spc.resource_id, simplified_procedural_values_path(simplified_procedural_code: spc.resource_id) %>
          </td>
          <td class="govuk-table__cell">
            <%= spc.goods_nomenclature_item_ids %>
          </td>
          <td class="govuk-table__cell">
            <%= spc.goods_nomenclature_label %>
          </td>
          <td class="govuk-table__cell">
            <%= spc.duty_amount %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
