<div class="govuk-grid-column-two-thirds">
  <%= link_to("Back", simplified_procedural_values_path, class: 'govuk-back-link') %>
  <%= page_header "Simplified procedure value rates for code #{@result.simplified_procedural_code} - #{@result.goods_nomenclature_label}" %>

  <% if @result.no_data %>
    <p>
      No data found for this SPV code
    </p>
  <% else %>
    <p>
      Applies to commodity code <%= @result.goods_nomenclature_item_ids %>.
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">From</th>
          <th scope="col" class="govuk-table__header">To</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value per 100 kg</th>
        </tr>
      </thead>
      <tbody>
        <% @result.measures.each do |measure| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= measure.validity_start_date&.to_date&.to_formatted_s(:short) %>
            </td>
            <td class="govuk-table__cell">
              <%= measure.validity_end_date&.to_date&.to_formatted_s(:short) %>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= presented_duty_amount(measure) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
