<div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="section-chapter-accordion-heading-<%=section.resource_id%>">
            Section <%= section.numeral %>: Chapter<%= section.chapters_title.include?("to") ? "s" : "" %> <%= section.chapters_title %>
        </span>
    </h2>
    <div class="govuk-accordion__section-summary govuk-body" id="section-chapter-accordion--summary-<%=section.resource_id%>">
        <%= section.to_s %>
    </div>
</div>
