<% content_for :back_link do %>
  <% back_link myott_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% if flash.now[:error] %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#"><%= flash.now[:error] %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
    <h1 class="govuk-heading-l">Select the chapters you want tariff updates about</h1>
    <div data-controller="chapter-selection">
      <div class="govuk-body">
        <p>If you only want to receive updates on specific areas, you can select the relevant chapters below.  These can be updated at any time.</p>
        <p>If you don't select any chapters below, you will continue to receive all tariff updates.</p>
        <div class="govuk-grid-row govuk-!-padding-bottom-3">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <button class="link_button" data-action="click->chapter-selection#toggleAllChapterCheckboxes" value="true" >Select all chapters</button>
              </div>
              <div class="govuk-grid-column-one-half">
                <button class="link_button" data-action="click->chapter-selection#toggleAllChapterCheckboxes" value="false" >Unselect all chapters</button>
              </div>
            </div>
          </div>
        </div>
        <%= form_with url: myott_check_your_answers_path, method: :post, local: true do %>
          <div class="govuk-accordion" data-module="govuk-accordion" id="section-chapter-accordion">
            <% @sections_chapters.each do |section, chapters| %>
              <div class="govuk-accordion__section" id="accordion-section-<%=section.resource_id%>">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="section-chapter-accordion-heading-<%=section.resource_id%>">
                      Section <%= section.numeral %>: Chapter<%= section.chapters_title.include?("to") ? "s" : "" %> <%= section.chapters_title %>
                    </span>
                  </h2>
                  <div class="govuk-accordion__section-summary govuk-body" id="section-chapter-accordion--summary-<%=section.resource_id%>">
                    <%= section.to_s %>
                  </div>
                </div> <!-- end of govuk-accordion__section-header -->
                <div id="section-chapter-accordion-sections-content-<%=section.resource_id%>" class="govuk-accordion__section-content">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <% chapters.each do |chapter| %>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-right-1 set_checkbox_width no_border">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input"
                                  id="chapter_<%= chapter.to_param %>"
                                  name="chapter_ids[]"
                                  type="checkbox"
                                  data-chapter-selection-target="chapterCheckbox"
                                  value="<%= chapter.to_param %>"
                                  <%= "checked" if @selected_chapters.any? { |c| c.to_param == chapter.to_param } %>>
                                <label class="govuk-checkboxes__label" for="chapter_<%= chapter.to_param %>"></label>
                              </div>
                            </div>
                          </td>
                          <td class="govuk-table__cell section-id-col govuk-!-padding-top-2 no_border">
                            <div class="chapter-code">
                              <span class="code-text"><%= chapter.short_code %></span>
                            </div>
                          </td>
                          <td class="govuk-table__cell govuk-!-padding-top-2 no_border">
                            <p><%= chapter.to_s %></p>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div> <!-- end of govuk-accordion__section-content -->
              </div> <!-- end of govuk-accordion__section -->
            <% end %>
          </div><!-- end of section-chapter-accordion -->
          <%= submit_tag "Continue", class: "govuk-button govuk-!-margin-top-4" %>
        <% end %>
      </div><!-- end of govuk-body -->
    </div><!-- end of chapter_selection controller -->
  </div>
</div>
