<% content_for :back_link do %>
  <% back_link @all_tariff_updates ? myott_preference_selection_path : myott_chapter_selection_path %>
<% end %>

<div class="govuk-body myott-subscriptions">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <%= render 'error' if flash.now[:error] %>
      <h1 class="govuk-heading-l">Review chapter selection</h1>
        <h2 class="govuk-heading-m">You have selected <%= @selected_chapters.count %> chapter<%= @selected_chapters.count > 1 ? "s" : "" %></h2>
         <p>You have selected these chapters to get email updates about.  You can change your preferences at any time.</p>
        <div data-controller="chapter-selection">
          <%= form_with url: myott_subscribe_path, method: :post, local: true do %>
            <%= render 'details_selected_chapters', selected_chapters: @selected_chapters %>
            <%= link_to "Change selections", myott_chapter_selection_path, class: "link_button" %>
            <p><%= submit_tag "Save and continue", class: "govuk-button govuk-!-margin-top-4" %></p>
            <%= hidden_field_tag :all_tariff_updates, @all_tariff_updates %>
          <% end %>
        </div>
    </div>
  </div>
</div>
