<% myott_page_title "Your tariff watch lists" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'banner' %>
    <h1 class="govuk-heading-l">Your tariff watch lists</h1>
    <p class="govuk-body"><strong>Email address:</strong> <%= @current_user.email %></p>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="app-card">
        <h2 class="govuk-heading-m app-card__heading">Commodity watch list</h2>
        <% if @my_commodities.present? %>
          <p class="govuk-body govuk-!-static-margin-bottom-0"><strong>Changes published yesterday: <%= number_with_delimiter(@my_commodities[:meta][:published][:yesterday]) %></strong></p>
          <p class="govuk-body">Total commodities selected: <%= number_with_delimiter(@my_commodities[:meta][:counts][:total]) %></p>
          <%= link_to 'View commodity watch list', myott_mycommodities_path, class: 'govuk-link--no-visited-state' %>
        <% else %>
          <p class="govuk-body govuk-!-static-margin-bottom-0"><strong>No commodities selected</strong></p>
          <p class="govuk-body">You will receive updates on specific commodities</p>
          <%= link_to 'Create a commodity watch list',  new_myott_mycommodity_path, class: 'govuk-link--no-visited-state' %>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="app-card">
        <h2 class="govuk-heading-m app-card__heading">Stop Press watch list</h2>
        <% if @stop_press.present? %>
          <p class="govuk-body govuk-!-static-margin-bottom-0"><strong>Updates published yesterday: <%= @stop_press[:meta][:published][:yesterday] %></strong></p>
          <p class="govuk-body">Total chapters selected: <%= @stop_press[:meta][:chapters] %></p>
          <%= link_to 'View Stop Press watch list', myott_stop_press_path, class: 'govuk-link--no-visited-state' %>
        <% else %>
          <p class="govuk-body govuk-!-static-margin-bottom-0"><strong>No chapters selected</strong></p>
          <p class="govuk-body">You will receive updates on specific chapters</p>
          <%= link_to 'Create a Stop Press watch list', myott_stop_press_path, class: 'govuk-link--no-visited-state' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
