<% content_for :title, import_export_date_title %>

<% if current_goods_nomenclature_code %>
  <%= goods_nomenclature_back_link %>
<% end %>

<%= page_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= form_for @import_export_date, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: 'patch' do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_date_field :import_date,
        legend: { text: t('import_export_date.form.legend_text'), size: 'xl', tag: 'h1' },
        hint: { text: t('import_export_date.form.hint_text_html') } %>

      <div class="govuk-button-group">
        <%= f.govuk_submit('Update date') %>
        <%= link_to('Cancel', goods_nomenclature_path, class: 'govuk-link') %>
      </div>
    <% end %>
  </div>
</div>
