<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#overview">Overview</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#import">Import</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#export">Export</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#rules-of-origin">Rules of origin</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#footnotes">Footnotes</a>
    </li>
  </ul>

  <!-- Overview tab -->
  <div class="govuk-tabs__panel" id="overview">
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <%= render partial: 'declarables/filtered', locals: { search: @search } %>
    <div class="inner">
      <h1 class="govuk-visually-hidden">Overview</h1>
      <div class="govuk-grid-row import-and-export-boxes">
        <div class="column-one-half">
          <div class="import box">
            <h2 class="govuk-heading-m">Import</h2>
            <p>The commodity code for importing is <strong><%= declarable.code %></strong>.</p>
            <% national_vat = declarable.import_measures.vat.national.to_a %>
            <% if national_vat.count > 0 %>
              <p>
                Goods are subject to
                <%= national_vat.map{ |m| "<strong>#{m.measure_type.description} (#{m.duty_expression.to_s})</strong>" }.join(' or ').html_safe + (national_vat.count > 1 ? ',' : '.') %>
                <% if national_vat.count > 1  %>
                  <%= link_to 'Please see related guidance as to when zero VAT applies', 'https://www.gov.uk/guidance/rates-of-vat-on-different-goods-and-services#introduction', target: :_blank %>.
                <% end %>
              </p>
            <% else %>
              <p>We are temporarily unable to display the VAT rate, please refer to the paper tariff.</p>
            <% end %>
            <% if declarable.basic_duty_rate.present? %>
              <p>Importing from outside the UK is subject to a third country duty of <strong><%= declarable.basic_duty_rate.html_safe %></strong> unless subject to other measures.</p>
            <% else %>
              <p>Importing from outside the UK is subject to <strong>variable</strong> third country duty.</p>
            <% end %>
            <p> Import measures and restrictions for specific countries can be found under the <a href="#import">import</a> tab.</p>
            <% if declarable.calculate_duties? %>
              <h3 class="govuk-heading-s">Duty calculation</h3>

              <p>Use our tariff duty calculator to work out the <%= link_to("duties applicable to the import of commodity #{declarable.code} into the #{import_destination}", "/duty-calculator/#{service_choice}/#{declarable.code}/import-date", class: 'govuk-link') %>.</p>
            <% end %>
          </div>
        </div>

        <div class="column-one-half">
          <div class="export box">
            <h2 class="govuk-heading-m">Export</h2>
            <p>The commodity code for exporting and intrastat reporting is <strong><%= declarable.display_export_code %></strong>.</p>

            <% if declarable.all_footnotes.compact.select(&:eco?).any? %>
              <p>
                <%= link_to 'You may need to apply for a licence from the Export Control Organisation (ECO) as your goods may be controlled under the Export Control Order 2008',
                            'https://www.gov.uk/guidance/uk-strategic-export-control-lists-the-consolidated-list-of-strategic-military-and-dual-use-items',
                            target: :_blank %>.
              </p>
            <% end %>

            <p>Export measures and restrictions for specific countries can be found under the <a href="#export">export</a> tab.</p>
          </div>
        </div>
      </div>
      <%= render 'shared/notes', section_note: declarable.section.section_note, chapter_note: declarable.chapter.chapter_note %>
    </div>
  </div>

  <!-- Import tab -->
  <div class="govuk-tabs__panel" id="import">
    <h2 class="govuk-heading-m"><%= measures_heading(tab: 'import') %></h2>
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <%= render partial: 'declarables/filtered', locals: { search: @search } %>

    <% if declarable.import_measures.for_country(@search.country).any? %>
      <%= render partial: 'measures/grouped/navigation', locals: { uk_declarable: uk_declarable, xi_declarable: xi_declarable } %>

      <% if TradeTariffFrontend::ServiceChooser.xi? %>
        <%= render partial: 'measures/grouped/xi', locals: { uk_declarable: uk_declarable, xi_declarable: xi_declarable } %>
      <% else %>
        <%= render partial: 'measures/grouped/uk', locals: { uk_declarable: uk_declarable, xi_declarable: xi_declarable } %>
      <% end %>

    <% else %>
      <p>There are no import measures for this commodity on this date.</p>
    <% end %>
  </div>

  <!-- Export tab -->
  <div class="govuk-tabs__panel" id="export">
    <h2 class="govuk-heading-m"><%= measures_heading(tab: 'export') %></h2>
    <p>The commodity code for exporting and <%= link_to 'Intrastat reporting', 'https://www.gov.uk/intrastat', target: "_blank" %> is <%= declarable.display_export_code %></p>

    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <%= render partial: 'declarables/filtered', locals: { search: @search } %>

    <% if declarable.export_measures.for_country(@search.country).any? %>
      <%= render "shared/measure_types_help", anchor: "export" %>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
        <%= @search.filtered_by_country? ? "Measures for #{@search.geographical_area}" : "Measures for all countries" %>
      </h3>

      <%= render partial: 'measures/grouped/table', locals: {
        collection: declarable.export_measures.for_country(@search.country).sort_by(&:key),
        hide_duty_rate: true }
      %>
    <% else %>
      <p>There are no export measures for this commodity on this date.</p>
    <% end %>

    <%= render 'measures/export_tab_check_duties',
                commodity_code: declarable.code,
                country_code: @search.country,
                country_name: @search.geographical_area&.description,
                european: @search.geographical_area&.eu_member? %>
  </div>

  <!-- Rules of Origin tab -->
  <div class="govuk-tabs__panel" id="rules-of-origin">
    <%- if @search.filtered_by_country? && @search.geographical_area -%>
      <%= render 'rules_of_origin/tab',
                 country_code: @search.country,
                 country_name: @search.geographical_area.description,
                 commodity_code: declarable.code,
                 rules_of_origin_schemes: rules_of_origin_schemes %>
    <%- else -%>
      <%= render 'rules_of_origin/without_country' %>
    <%- end -%>
  <div>

  <!-- Footnotes tab -->
  <div class="govuk-tabs__panel" id="footnotes">
    <h2 class="govuk-heading-m"><%= footnote_heading(declarable) %></h2>
    <table class="govuk-table govuk-!-margin-top-8">
      <colgroup>
        <col width="100">
        <col width="*">
      </colgroup>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Code</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: 'footnotes/footnote', collection: declarable.footnotes %>
      </tbody>
    </table>
  </div>

  <!-- Footnote popups -->
  <div id="import-measure-references">
    <%= render partial: 'measures/measure_references', collection: declarable.import_measures.for_country(@search.country), as: 'measure', locals: { declarable: declarable } %>
    <% if TradeTariffFrontend::ServiceChooser.xi? %>
      <%= render partial: 'measures/measure_references', collection: uk_declarable.import_measures.import_controls.for_country(@search.country), as: 'measure', locals: { declarable: declarable } %>
      <%= render partial: 'measures/measure_references', collection: uk_declarable.import_measures.vat_excise.for_country(@search.country), as: 'measure', locals: { declarable: declarable } %>
    <% end %>
  </div>
  <div id="export-measure-references">
    <%= render partial: 'measures/measure_references', collection: declarable.export_measures.for_country(@search.country), as: 'measure', locals: { declarable: declarable } %>
  </div>
</div>
