<tr id="measure-<%= measure.id %>" class=" govuk-table__row <%= measure.geo_class %>" tabIndex="-1">
  <td class="country-col govuk-table__cell">
    <% if measure.has_children_geographical_areas? %>
      <%= link_to measure.geographical_area.long_description, geographical_area_path(id: measure.geographical_area.id), class: 'govuk-link' %>
    <% else %>
      <%= measure.geographical_area.long_description %>
    <% end %>

    <% if measure.excluded_country_list.present? %>
      </br>
      <span class="country-exclusions">
        excluding <%= measure.excluded_country_list %>
      </span>
    <% end %>
  </td>

  <td class="measure-type-col govuk-table__cell <%= measure.measure_type.id %>">
    <span class='table-line'><%= measure.measure_type.description %></span>
    <% if measure.order_number.present? %>
      <span class='table-line'>
        <%= render partial: 'shared/quota_definition', locals: { order_number: measure.order_number, quota_definition: measure.order_number&.definition} %>
      </span>
    <% end %>
    <% if measure.additional_code.present? %>
      <span class='table-line'>
        Additional code: <strong><%= measure.additional_code.code %></strong>
      </span>

      <% if measure.additional_code.formatted_description.present? %>
        <span class='table-line'>
          <%= sanitize measure.additional_code.formatted_description %>
        </span>
      <% end %>
    <% end %>
  </td>

  <% unless local_assigns[:hide_duty_rate] %>
    <td class="duty-rate-col govuk-table__cell govuk-table__header--numeric">
      <%= filter_duty_expression(measure) %>

      <% if measure.resolved_duty_expression.present? %>
        <br></br>
        <span title="Showing duties for Meursing code <%= meursing_lookup_result.meursing_additional_code_id %>" class="meursing-duty-expression">

          <%= sanitize(measure.resolved_duty_expression, tags: %w[span abbr strong], attributes: %w[title]) %>
        </span>
      <% end %>
    </td>
  <% end %>

  <td class="conditions-col govuk-table__cell">
    <% if measure.has_measure_conditions? %>
      <%= link_to "Conditions",  "#", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-conditions", "aria-label": "Click to open a dialog with the conditions for this measure", role: "button" %>
    <% end %>
  </td>

  <td class="legal-base-col govuk-table__cell govuk-table__header--numeric">
    <%= legal_act_regulation_url_link_for(measure) %>
  </td>

  <td class="dates-col govuk-table__cell">
    <%= pretty_date_range(measure.effective_start_date, measure.effective_end_date) %>

    <% if measure.suspension_legal_act.present? %>
      <br />
        <a class="suspended" href="<%= measure.suspension_legal_act.regulation_url %>" target="_blank">
          Suspended from <%= measure.suspension_legal_act.validity_start_date %>
          <% if measure.suspension_legal_act.validity_end_date %>
            to <%= measure.suspension_legal_act.validity_end_date %>
        </a>
        <%- else -%>
          Suspended from <%= measure.suspension_legal_act.validity_start_date %> to <%= measure.suspension_legal_act.validity_end_date %>
        <% end %>
    <% end %>
  </td>

  <td class="footnotes-col govuk-table__cell govuk-table__header--numeric">
    <% if measure.has_measure_footnotes? %>
      <%= link_to measure.footnotes.size == 1 ? measure.footnotes.first.code : "Footnotes",  "#", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-footnotes", "aria-label": "Click to open a dialog with the footnotes for this measure", role: "button" %>
    <% end %>
  </td>
</tr>
