<% if measure.has_measure_conditions? %>
  render modal_partial_options_for(declarable, measure)
<% end %>

<% if measure.has_measure_footnotes? %>
  <div class='footnotes' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-footnotes'>
    <article>
      <table class="govuk-table govuk-!-margin-bottom-2">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3">
          <h2><%= measure.measure_type.description %> for <%= measure.geographical_area.description %></h2>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="100">Code</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= render partial: "footnotes/footnote", collection: measure.footnotes, locals: { measure: measure } %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>

<%= render measure.additional_code if measure.has_additional_code? %>
