<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l rules-of-origin-heading">
      Rules of origin for trading with <%= country_name %>
      <%= country_flag_tag country_code, alt: "Flag for #{country_name}" %>
    </h2>

    <h3 class="govuk-heading-m">
      Product-specific rules for commodity <%= commodity_code %>
    </h3>

    <p>
      If your product has been produced using any non-originating materials, the
      product has to fulfil the following product-specific rule to be considered
      originating in the <%= uk_service_choice? ? 'UK' : 'EU' %> or <%= country_name %>.
    </p>

    <p>
      If there are alternative rules, your product needs to comply with only one
      of them.
    </p>

    <table class="govuk-table govuk-table--responsive commodity-rules-of-origin">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Heading
          </th>

          <th class="govuk-table__header" scope="col">
            Description
          </th>

          <th class="govuk-table__header" scope="col">
            Rule
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% if rules_of_origin.flat_map(&:rules).length.zero? %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="3">
            There are no product-specific rules for commodity <% commodity_code %>
          </td>
        </tr>
        <% end %>

        <% rules_of_origin.flat_map(&:rules).each do |rule| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Heading">
            <%= rule.heading %>
          </td>

          <td class="govuk-table__cell" data-label="Description">
            <%= rule.description %>
          </td>

          <td class="govuk-table__cell tariff-markdown responsive-full-width" data-label="Rule">
            <%= govspeak rule.rule %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= render 'measures/rules_of_origin_instructions' %>

    <% rules_of_origin.map(&:fta_intro).map(&:presence).compact.each do |fta_intro| %>
    <div class="rules-of-origin-fta">
      <h3 class="govuk-heading-m">
        Trading relationship with <%= country_name %>
      </h3>

      <div class="tariff-markdown">
        <%= govspeak fta_intro %>
      </div>
    </div>
    <% end %>
  </div>

  <% if rules_of_origin.flat_map(&:links).any? %>
  <div class="grid-column-one-third" id="rules-of-origin__related-content">
    <h2 class="govuk-heading-m">
      Related content
    </h2>

    <nav role="navigation">
      <ul class="govuk-list govuk-list-s">
        <% rules_of_origin.flat_map(&:links).each do |link| %>
          <li>
            <%= link_to link.text, link.url %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <% end %>
</div>
