<% content_for :back_link do %>
  <% back_link session[:all_tariff_updates] ? myott_check_your_answers_path : myott_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <%= render 'error' if flash.now[:error] %>
    <h1 class="govuk-heading-l">Select the chapters you want tariff updates about</h1>
    <div data-controller="chapter-selection">
      <div class="govuk-body myott-subscriptions">
        <p>Products are broken down into sections and chapters. Sections broadly group products, while chapters get more specific. You can choose to be updated about as many chapters as you like.</p>
        <%= render partial: 'checkbox_toggles' %>
        <%= form_with url: myott_preferences_path, method: :patch, local: true do %>
          <div class="govuk-accordion" data-module="govuk-accordion" id="section-chapter-accordion">
            <% @all_sections_chapters.each do |section, chapters| %>
              <div class="govuk-accordion__section <%= section.resource_id == "1" ? 'govuk-accordion__section--expanded' : ''%>" id="accordion-section-<%=section.resource_id%>">
                <%= render 'accordion_header', section: %>
                <%= render 'accordion_section_content', section:, chapters:, selected_chapters: @selected_chapters %>
              </div>
            <% end %>
          </div>
          <%= submit_tag "Continue", class: "govuk-button govuk-!-margin-top-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
