<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= form_for @form, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :post, url: perform_certificate_search_path do |f| %>
      <%= page_header 'Search for a certificate, licence or document' %>

      <p class="govuk-body">To search for certificates, and the goods nomenclatures to which they apply, enter either a one-digit certificate type immediately proceeded by a three-digit certificate id or words from the certificate in the fields below.</p>

      <%= f.hidden_field :render_errors, value: true %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :code,
        width: 'one-quarter',
        label: { text: t('certificate_search.form.certificate_label_html') },
        hint: { text: t('certificate_search.form.certificate_hint_text') } %>

      <%= f.govuk_text_field :description,
        width: 'one-half',
        label: { text: t('certificate_search.form.certificate_description_label_html') },
        hint: { text: t('certificate_search.form.certificate_description_hint_text') } %>

      <%= f.govuk_submit(t('certificate_search.form.submit'), id: 'certificate-submit') %>

    <% end %>
  </div>
</div>
