<!DOCTYPE html>
<html lang="en" class="govuk-template">

<%= render partial: 'layouts/base' %>

<head>
  <%= render 'shared/gtm', part: 'head' if analytics_allowed? %>
  <meta charset="utf-8">
  <title>
    <% if respond_to?(:title) %>
      <%= title %>
    <% else %>
      <%= yield :pageTitle %>
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#1d70b8">

  <%= favicon_link_tag image_path('favicon.ico'), sizes: '48x48' %>
  <%= favicon_link_tag image_path('favicon.svg'), sizes: 'any' %>
  <%= favicon_link_tag image_path('govuk-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
  <%= favicon_link_tag image_path('govuk-icon-180.png'), rel: 'apple-touch-icon', type: 'image/png' %>

  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :print, media: "print", "data-turbo-track": "reload"  %>

  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

  <%= yield :head %>

  <script async src="/javascripts/es-module-shims.js?v=<%= CURRENT_REVISION %>"></script>
  <script type="esms-options">
    {
      "noLoadEventRetriggers": true
    }
  </script>

  <%= javascript_importmap_tags %>
</head>

<body class="govuk-template__body <%= service_choice || service_default %>-service">
  <%= render 'shared/gtm', part: 'body' if analytics_allowed? %>
  <%= content_tag :div, class: 'path_info', data: @path_info do %>
  <% end %>

  <%= javascript_tag nonce: true do -%>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  <% end -%>

  <%= render 'layouts/cookies_consent' %>

  <a href="#content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <header
    class="govuk-header govuk-!-display-none-print"
    role="banner"
    data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <%= render 'shared/govuk_logo' %>
    </div>

    <%= Rails.cache.fetch(['news_items/header_banner', cache_key, expires_in: 1.hour]) do %>
      <%= render 'news_items/header_banner', news_item: News::Item.latest_banner unless @skip_news_banner %>
    <% end %>

    <%= csrf_meta_tags %>
  </header>

  <%= yield :service_navigation %>

  <%= render 'shared/feedback_banner' %>

  <div class="tariff service govuk-width-container">
    <%= render 'shared/top_breadcrumbs' %>

    <%= yield :back_link %>

    <main id="content" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-7" role="main">
      <%= render 'shared/phase_banner' if ENV['NOTICE_BANNER'] %>
      <%= render 'shared/flashes' %>
      <%= yield :before_main_content %>

      <%= render 'shared/search/search_form' unless @no_shared_search %>

      <%= yield %>

      <%= render 'shared/switch_banner_bottom' if is_switch_service_banner_enabled? %>
      <%= render 'shared/webchat_message/footer' if webchat_visible_in_footer? %>

      <% if @tariff_last_updated %>
        <div id="last-updated-at"><p class="govuk-!-font-size-16">Last updated: <%= @tariff_last_updated.strftime("%e %B %Y") %>&emsp;<a href="https://www.gov.uk/government/collections/tariff-stop-press-notices" target="_blank">View latest amendments</a></p></div>
      <% end %>
      <% if content_for? (:commodity_pagination) %>
        <%= yield :commodity_pagination %>
      <% end %>
    </main>
  </div>

  <%= render 'shared/feedback_useful_banner' unless @feedback %>

  <footer id="footer" class="govuk-footer govuk-!-display-none-print" role="contentinfo">
    <div class="govuk-width-container">
      <%= render 'shared/govuk_crown' %>
      <div class="govuk-footer__navigation">
        <%= yield :footer_top %>
      </div>
      <%= yield :footer_bottom %>
    </div>
  </footer>

</body>

</html>
