<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<%= render partial: 'layouts/base' %>

<head>
  <meta charset="utf-8" />
  <title><%= yield :pageTitle %></title>
  <meta name="robots" content="noindex,nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= render partial: 'layouts/google_tag_manager' %>

  <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

  <!--[if !IE 8]><!-->
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'print', media: 'print' %>
    <!--<![endif]-->

    <!--[if IE 8]>
      <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->

    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

    <%= yield :head %>
</head>

<body class="govuk-template__body <%= service_choice || service_default %>-service">
  <%= render partial: 'layouts/google_tag_manager_no_script' %>

  <%= content_tag :div, class: 'path_info', data: @path_info do %>
  <% end %>

  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

    <%= render 'layouts/cookies_consent' %>

  <a href="#content" class="govuk-skip-link">Skip to main content</a>

  <header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container header-wrapper">
      <%= render 'shared/govuk_logo' %>
      <%= yield :proposition_header %>
    </div>
  </header>

  <main id="content" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" role="main">
    <div class="tariff service govuk-width-container">
      <%= render 'shared/phase_banner' if ENV['NOTICE_BANNER'] %>
      <%= yield :before_main_content %>

      <%= render 'shared/top_breadcrumbs' %>
      <%= render 'shared/switch_banner' %>

      <%= render 'shared/search/other' unless @no_shared_search %>

      <%= yield %>

      <%= render 'shared/switch_banner_bottom' if is_switch_service_banner_enabled? %>

      <% if @tariff_last_updated %>
        <div id="last-updated-at"><p class="govuk-!-font-size-16">Last updated: <%= @tariff_last_updated.strftime("%e %B %Y") %>&emsp;<a href="https://www.gov.uk/government/collections/tariff-stop-press-notices" target="_blank">View latest amendments</a></p></div>
      <% end %>
      <% if content_for? (:commodity_pagination) %>
        <%= yield :commodity_pagination %>
      <% end %>
    </div>
  </main>

  <footer id="footer" class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container">
      <div class="govuk-footer__navigation">
        <%= yield :footer_top %>
        <%= yield :footer_bottom %>
      </div>
    </div>
  </footer>

  <%= javascript_pack_tag 'application' %>
</body>

</html>
